[2017-12-16 14:09] SetTrend commented on #555
### Let me add a more general, personal, frank note to this thread:
<br>

I feel that Microsoft should supply more budget to provide an in-depth, thoughtful documentation for their products.

I also feel that Microsoft should refrain from following that rather volatile Open Source path of providing their products in fast pace for free.

I base my observation on the fact that I see Microsoft produc

[2017-12-18 19:53] #328 closed

[2017-12-18 19:54] #559 closed

[2017-12-20 14:11] WayPoint7 commented on #585
After successfully following the guidelines and implementing the examples for my own database, the API runs on the localhost. But after upoloading to Azure I just get an HTTP 200 (OK) in return and an empty JSON file.
What could be wrong?

[2017-12-20 18:16] divega opened #589 "Improve coverage of design-time requirements in Configuring DbContext topic"
As per discussion in https://github.com/aspnet/EntityFrameworkCore/issues/10502#issuecomment-351507927, the current coverage is limited to explaining how to use `IDesignTimeDbContextFactory<TContext>` but there is no explanation of what patterns work and how they are related to general DbContext configuration requirements.

[2017-12-20 18:18] #515 closed

[2017-12-20 18:19] divega commented on #515
This appears to be already fixed according to the suggestions.

[2017-12-23 09:42] #585 closed

[2017-12-23 09:52] divega commented on #362
This was fixed some time ago. We did the "EF Core | " prefix but it turned out not to work well for SEO at all. Then @mariaw fixed by replacing it with an "- EF Core" suffix. The "| Microsoft Docs" suffix is added automatically to all titles and should not be in the source.

[2017-12-23 09:52] #362 closed

[2017-12-23 09:57] divega commented on #378
I am thinking more and more than we should just replace what we have now (multiple pages with entries in the index) with a single page containing a table. It will potentially have to be updated (or become stale) frequently but we can make it nice with all the useful information mentioned above in a single place.

@bricelam @smitpatel thoughts?

[2017-12-23 10:01] divega commented on #392
Closing as duplicate of the main reverse engineering topic, which should cover non-Windows platforms anyway: #508.

[2017-12-23 10:01] #392 closed

[2017-12-23 10:45] divega commented on #395
For this too (like providers), I am thinking about having a single page listing all tools in a table rather than separate pages referenced in the index. It may make sense to do some house cleaning if some of the tools are not being maintained or useful.

[2017-12-23 10:53] divega commented on #402
This issue was moved to aspnet/EntityFramework.ApiDocs#10

[2017-12-23 10:53] #402 closed

[2017-12-23 10:58] divega commented on #403
This was fixed when we moved the API reference to https://docs.microsoft.com/en-us/dotnet/api.

[2017-12-23 10:58] #403 closed

[2017-12-23 11:06] divega commented on #415
Fixed in 28c941ca7ffe06194904a326f5fda0e6776171aa.

[2017-12-23 11:06] #415 closed

[2017-12-23 11:07] #431 closed

[2017-12-23 14:17] ErikEJ commented on #395
Good idea - any starting point/template for the table?

[2017-12-23 14:40] hanslai commented on #399
an example on how to use [enumeration classes](https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/microservice-ddd-cqrs-patterns/enumeration-classes-over-enum-types) with EF Core is great.

[2017-12-26 20:48] divega commented on #589
Fixed in 971746118df1b4fe7d258af07d509d44a5be3774.

[2017-12-26 20:48] #589 closed

[2017-12-30 23:56] bricelam commented on #378
I agree. The pages we have are pretty sparse. It's easier to make a decision when all the information is presented together. Providers can present best an overview of themselves.

[2018-01-02 18:19] ajcvickers opened #594 "Document DbContext constructor pattern when context to be inherited"
See discussion here: https://github.com/aspnet/EntityFrameworkCore/issues/7533

In a nutshell:
* A DbContext to be inherited from should have a protected constructor that takes a non-generic DbContextOptions. For example:

[code]

* A DbContext that will be instantiated should have typed, generic DbContextOptions. For example:

[code]

* A DbContext that might be used in both ways should have both

[2018-01-04 22:49] daerhiel commented on #466
For Table Splitting, can I have Employee inherited from EmployeeLargeData or these should be separate types?

[2018-01-04 23:13] AndriySvyryd commented on #466
@daerhiel If you inherit Employee from EmployeeLargeData and use table splitting the table would have the EmployeeLargeData columns duplicated. Why would you need to use table splitting in this case?

[2018-01-05 00:10] daerhiel commented on #466
@AndriySvyryd I'm always lacking of having 2 separate models for the same table one short version for large lists, and another 'full' one for getting the full data with all the related records. Basically the full one has all the properties from the 'list' version this is why it makes it 'logical' to use inheritance to make code dry. Is there another reasonable approach for building this feature ap

[2018-01-05 00:18] AndriySvyryd commented on #466
@daerhiel If you just use inheritance with EmployeeLargeData deriving from the abstract Employee then you can query either EmployeeLargeData or Employee from the same table. You don't need to use table splitting.

[2018-01-05 00:20] daerhiel commented on #466
@AndriySvyryd how do I map the properties then? I need them to be different for different models..

[2018-01-05 00:23] AndriySvyryd commented on #466
@daerhiel If you are really using two different models as in two different DbContext classes then just map one of the classes in each model and ignore the other one.

[2018-01-05 00:27] daerhiel commented on #466
@AndriySvyryd, no same DbContext

[2018-01-05 00:30] AndriySvyryd commented on #466
@daerhiel Then it won't be possible to map the same columns differently in different entity types.

[2018-01-05 06:57] axelheer commented on #353
How about [NeinLinq](https://github.com/axelheer/nein-linq)? 🤓

[2018-01-05 23:11] bricelam opened #597 "Xamarin.iOS app with EFCore 2.0 SQLitePCL.Batteries.Init()"
_From @alexdrl on November 21, 2017 8:44_

A Xamarin.iOS app with EFCore 2.0 needs a call to

[code]

If the call is not made, the app initialization throws this error message.

[code]
Like explained [here](https://github.com/ericsink/SQLitePCL.raw/wiki/SQLitePCL.Batteries.Init)

### Steps to reproduce
Xamarin.iOS project working with EFCore 2.0. Solution with a common .NET Standard project which

[2018-01-05 23:11] bricelam commented on #597
Correct. I don't think Xamarin.iOS can handle [the Assembly.Load() call](https://github.com/aspnet/Microsoft.Data.Sqlite/blob/rel/2.0.0/src/Microsoft.Data.Sqlite.Core/Utilities/BundleInitializer.cs#L15). And binding directly to `SQLitePCLRaw.batteries_v2.dll` will cause problems if you're not using a bundle.

[2018-01-05 23:11] bricelam commented on #597
_From @alexdrl on November 22, 2017 18:27_

I use the SQLitePCLraw assembly that gets added as a transitive dependency, and call that Init method, the app works correctly. In the project assets json, the Xamarin.iOS SQLitePCLraw package gets restored correctly.

[2018-01-05 23:11] bricelam commented on #597
We should probably document this on the [Supported .NET Implementations](https://docs.microsoft.com/ef/core/platforms/) page or thereabouts.

[2018-01-05 23:11] bricelam commented on #597
_From @alexdrl on November 22, 2017 18:31_

The documentation already stated that there are problems in Xamarin.iOS but there is no page that describes this (or other) workarounds.

[2018-01-06 08:40] ErikEJ opened #598 "Improve migrations guidance"
From comments on Tools page:

I posted this on the GitHub site for the project.  They pointed me to a work-around which worked for me.  Add the following line to the "PropertyGroup" section of you project file which contains your `DBContext<GenerateRuntimeConfigurationFiles>true</GenerateRuntimeConfigurationFiles>`

You'll also need to set your startup project to the project with your DBContext fi

[2018-01-09 16:47] ajcvickers opened #599 "Document flowing annotations through the model to migrations"
Specifically to show how the model can be annotated, the model differ can diff those annotations, and migrations operations can be created.

[2018-01-09 20:16] kroleigh commented on #599
The first thing I'd like to see is how to prioritize object creation or specify dependencies.  When generating the SQL script, the SQLGenerator will create table objects and then create foreign key constraints.  However, when creating views, the body of the SQL will have dependencies on underlying tables or views.  How can we provide this hint to EF?

In the customcodegenerator, I can change a Cre

[2018-01-18 10:12] nappinglady opened #602 "Hello,how to do with dbfirst ,thanks!"
Hello,how to do with dbfirst ,thanks!  .net core 2.0 mysql

[2018-01-18 10:28] ErikEJ commented on #602
You can use my "EF Core Power Tools" Visual Studio extension https://github.com/ErikEJ/SqlCeToolbox/wiki/EF-Core-Power-Tools

[2018-01-18 10:40] nappinglady commented on #602
@ErikEJ  Thank you very much, does it  support mysql? please

[2018-01-18 10:42] ErikEJ commented on #602
No, but you can try the command line as described here: https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/powershell (Scaffold-DbContext command)

[2018-01-18 10:47] nappinglady commented on #602
@ErikEJ  thank you very much, there is so fewer message for mysql  db first with .net core.  thank you

[2018-01-19 19:59] #602 closed

[2018-01-19 20:02] ajcvickers commented on #598
This is patched, so the workaround is no longer needed.

[2018-01-19 20:02] #598 closed

[2018-01-19 20:09] bricelam commented on #598
Fixed in aspnet/EntityFrameworkCore#10298
Startup project documented here: https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/powershell#using-the-tools

[2018-01-22 18:55] #394 closed

[2018-02-09 21:42] bricelam opened #608 "Remove project.json notices"
It's time.

[2018-02-09 22:06] bricelam opened #609 "Remove promises from .NET Core - New Database tutorial"

[2018-02-14 16:14] ajcvickers opened #610 "Document nulls in indexes"
For example, see comment here: https://github.com/aspnet/EntityFrameworkCore/issues/6794#issuecomment-365636279, but also consider documenting what we do for nulls with unique indexes for various providers.

[2018-02-14 16:53] ajcvickers opened #611 "Document using SqlGeography/SqlGeometry on .NET Framework"
See https://github.com/aspnet/EntityFrameworkCore/issues/10109 for details.

[2018-02-14 17:03] Davilink commented on #610
Its would be nice to add a Warning message or an informative message to explain that in EF Core 1.0, the model builder will create a filtered indexes by default and the only way to suppress that is to create the index manually with a raw query. I lost too much time because i had no way to know that the model builder was operating like that. The only way i found it was to inspect the index key in S

[2018-02-14 23:49] divega opened #612 "Lazy loading documentation"
Let's get a draft of the docs for this feature in the 2.1.0-preview1 time frame. We either add the contents into the existing section in [related data](https://github.com/aspnet/EntityFramework.Docs/blob/master/entity-framework/core/querying/related-data.md#lazy-loading) or create a new page if it is too long.

[2018-02-14 23:53] divega opened #613 "Property value and service injection in entity constructors and properties documentation"
This could be factored as one or more new pages under https://github.com/aspnet/EntityFramework.Docs/tree/master/entity-framework/core/modeling.

[2018-02-14 23:54] divega opened #614 "Value conversions documentation"
I believe this can be added as a new page under https://github.com/aspnet/EntityFramework.Docs/tree/master/entity-framework/core/modeling.

[2018-02-14 23:58] divega opened #615 "EF Core 2.1: GroupBy translation documentation"
I am not sure whether we should create a new page or section for GroupBy, or just snippets for the what's new in EF Core 2.1 page. We currently don't have our own documentation for specific query operators.

We can discuss cases that can be translated, which would be related to https://github.com/aspnet/EntityFramework.Docs/blob/master/entity-framework/core/querying/client-eval.md.

Let's discuss

[2018-02-15 00:00] divega opened #616 "Data seeding documentation"
Let's put together basic documentation for data seeding in the 2.1 preview 1 time frame.

[2018-02-15 00:01] divega opened #617 "Query types documentation"
Let's put together basic documentation for query types in the 2.1 preview 1 time frame.

[2018-02-15 00:03] divega opened #618 "Update eager loading documentation with derived types samples"
We can probably add a paragraph and a couple of snippets with the supported patterns under https://github.com/aspnet/EntityFramework.Docs/blob/master/entity-framework/core/querying/related-data.md#eager-loading

[2018-02-15 00:05] divega opened #619 "Update transactions documentation with System.Transaction support details"
We can probably add a section to https://github.com/aspnet/EntityFramework.Docs/blob/master/entity-framework/core/saving/transactions.md. We should call out any limitations.

[2018-02-15 00:10] divega opened #620 "What's new page for EF Core 2.1"
Need to decide if we are going to use new pages for 2.0 and 2.1 and/or use a single page per major version under https://github.com/aspnet/EntityFramework.Docs/tree/master/entity-framework/core/what-is-new.

[2018-02-15 00:18] mairaw commented on #620
For .NET, we've being doing in one page:
https://docs.microsoft.com/en-us/dotnet/framework/whats-new/
So you can see what it looks like over time.

For C#, it's broken down: https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/

[2018-02-15 00:26] maumar opened #621 "Add some code snippets using correlated collection optimization in the "whats new" page"

[2018-02-15 00:27] divega commented on #395
@ErikEJ sorry for the long delay answering. I think having a table that normalizes the information on the existing extension pages would be a good starting point. It would be good to include a column for compatibility and a description.

[2018-02-15 00:33] #350 closed

[2018-02-15 00:39] divega commented on #621
Thinking that this could belong into a "tuning options" page under the query node.

[2018-02-15 07:04] ErikEJ commented on #395
Do you have an exsisting page I can use a inspiration/template?

[2018-02-16 00:42] divega opened #622 "EF6: Document database initializers"
Perhaps there is content from @ajcvickers's blog that can be ported.

[2018-02-16 13:32] whizkidwwe1217 commented on #594
This approach doesn't work. I always getting errors as shown below:
`System.InvalidOperationException: The DbContextOptions passed to the DbContext constructor must be a DbContextOptions<DbContext>. When registering multiple DbContext types make sure that the constructor for each context type has a DbContextOptions<TContext> parameter rather than a non-generic DbContextOptions parameter.`

[2018-02-16 19:07] ajcvickers commented on #621
For example, talk about using ToList.

[2018-02-21 17:34] #609 closed

[2018-02-22 21:13] veezo2007pk opened #627 "How to Upload image in specified folder and save path in database .NET core"
[code]
when i save image, image save successfully in database, but it takes full image path like this C:\Users\VIZO\Desktop\employee.jpg i dont want like this, i need to save image path somehting like this ~images\employee.jpg and in specific folder and same path should save in database, also if someone show me after saving correct path how i can view that image.

[2018-02-23 16:58] ajcvickers commented on #614
Done for preview1. Need to add real sample code for RTM.

[2018-02-23 19:37] AndriySvyryd commented on #616
Dupe of https://github.com/aspnet/EntityFramework.Docs/issues/509

[2018-02-23 19:37] #616 closed

[2018-02-24 00:16] smitpatel commented on #496
Assigning to @AndriySvyryd  if Relational has any additional metadata which we need to document.

[2018-02-25 00:06] #496 closed

[2018-02-25 00:06] #610 closed

[2018-02-25 00:13] #509 closed

[2018-02-25 07:00] virtualcca commented on #466
"No support for configuring them via an attribute" said in Limitations,
does it mean that I use attribute(using System.ComponentModel.DataAnnotations.Schema, for example [Column("columnName")]) to define in subtype is invalid?
Will there be any plan to support this function?

[2018-02-25 14:49] divega commented on #466
@virtualcca it is referring to the fact that in 2.0 there is no way to specify that a type is an owned type by placing an attribute on the navigation property or on the type itself.

[2018-02-26 13:49] #620 closed

[2018-02-26 21:42] #378 closed

[2018-02-26 21:42] #472 closed

[2018-02-27 03:47] #619 closed

[2018-02-27 03:53] #617 closed

[2018-02-27 17:56] #466 closed

[2018-02-27 18:54] divega commented on #620
Thanks @mairaw. We went for something similar to C#.

[2018-02-27 19:13] ajcvickers opened #638 "Value generation page has too many warnings"
And the warnings are too long. We should revisit whether these all need to be warnings, and whether they can be made shorter, perhaps with reference to other parts of the doc.

https://docs.microsoft.com/en-us/ef/core/modeling/generated-properties

[2018-02-27 19:21] divega commented on #395
@ErikEJ you may now want to check the new provider list. The PR was #632.
- This should be similar, although the columns may be different.
- There is the need to redirect stuff to the index.md containing the table.
- Tables in markdown are better than html but still hard to manage. You may want to use some editor add in that automates markdown tables fixup. You may also want to use two monitors :s

[2018-02-28 18:43] maumar commented on #618
fixed in f42a9f7d633d9466ebdcca0254da9273abf10a5d

[2018-02-28 18:43] #618 closed

[2018-03-01 18:02] divega opened #644 "Consider removing wrench topics"
We have topics that are empty currently under managing database schema.

According to @mairaw:

Unless we consider these up-for-grabs, the only value I guess is to say "we know this is missing".

Let's discuss in triage.

@mairaw if you can provide more info about folks hating this, that would be great.

[2018-03-05 22:41] ajcvickers commented on #627
Moved to https://github.com/aspnet/Home/issues/2921 because question seems to be about how to get a relative filename in ASP.NET Core.

[2018-03-05 22:41] #627 closed

[2018-03-05 22:43] ajcvickers commented on #644
Triage: Both of the remaining "wrench" issues will be fixed as part of the 2.1 release. We will then not create new wrenches except temporarily while working on the fixup for new docs in new releases.

[2018-03-05 22:43] #644 closed

[2018-03-07 22:54] #395 closed

[2018-03-10 19:34] ErikEJ opened #651 "Add NosDB provider"
https://www.nuget.org/packages/NosDB.EntityFrameworkCore/

[2018-03-14 15:13] divega opened #653 "Query types: Cover FromSql in examples"
To use query types with `FromSql` you have to do this:

[code]

This may not be obvious if you are coming from EF6 and trying to find the equivalent for `context.Database.SqlQuery` with an arbitrary type. It would be good to have an example of this in the topic.

[2018-03-15 02:21] divega commented on #615
Talking to @smitpatel again about this, we agreed that it is probably good idea to have a topic in the docs explaining the differences between GroupBy LINQ operator and GROUP BY clause in SQL and the cases that we support in EF Core.

The description of https://github.com/aspnet/EntityFrameworkCore/issues/2341 can be a starting point.

[2018-03-15 02:21] #621 closed

[2018-03-19 19:30] ajcvickers commented on #501
Add known limitations of pooling:
* Context configuration/connection string cannot be changed
* Context cannot depend on additional services
* Context is never really disposed (see https://github.com/aspnet/EntityFrameworkCore/issues/11308 and https://github.com/aspnet/EntityFrameworkCore/issues/11309)

[2018-03-20 01:52] hawkeyedriver opened #656 "Example Needed: Edit a model with a List<class>. Changes not POSTING on list elements"
This issue tracker is for ***documentation***

For ***product*** issues, use https://github.com/aspnet/EntityFramework/issues

Need a solid clean example of how to EDIT a model view or model class LIST that holds another class.
I can loop through the list using partial views to render the edit boxes in the view, but the CHANGES are not posting back to the EF.

The initial DOCS are great, but once

[2018-03-22 20:28] divega opened #659 "Fix content metadata in EF docs"
For reporting/BI purposes, we need to have things setup like this in the yaml section:

- All pages: `ms.prod: entity-framework`
- All EF Core pages: `ms.technology: entity-framework-core`
- All EF 6 pages: `ms.technology: entity-framework-6`

The value for `ms.prod` is required. The value for `ms.technology` is optional but since we have two technologies and most pages have something already it w

[2018-03-22 20:30] divega opened #660 "Finish migration of EF6 documentation to Microsoft Docs"
This is already in process (see https://github.com/aspnet/EntityFramework.Docs/pull/624). Just adding an issue to track.

[2018-03-22 20:31] divega commented on #659
We should wait until the EF6 docs have been migrated (https://github.com/aspnet/EntityFramework.Docs/issues/660).

[2018-03-22 20:31] divega opened #661 "EF Core 2.1: document state change events"
And any bits of lifecycle hooks we are enabling in 2.1

[2018-03-22 22:05] #608 closed

[2018-03-26 13:18] vmrocha commented on #171
Can we also consider documentation for Entity Framework 6?

[2018-03-26 21:46] divega opened #665 "Document other "raw" database access APIs besides FromSql"
We should add more information about ExecuteSqlCommand and GetDbConnection, including how to manage the open/close state and lifetime of the connection returned with the latter (see https://github.com/aspnet/EntityFrameworkCore/issues/11415).

[2018-03-27 21:04] smitpatel opened #666 "Clarify to customers that EF Core 2.1 can be used on netcoreapp2.0"
EF Core (& dependencies) target netstandard2.0 (or lower) hence it is possible to use EF Core 2.1 on netcoreapp2.0. But Microsoft.AspNetCore.All package uses netcoreapp2.1 tfm, that causes confusion in customers who are using EF through .All package that upgrading to EF Core 2.1 requires tfm upgrade. We need to put this in our docs (perhaps in What's new in 2.1 page) that EF core 2.1 works and to

[2018-03-31 16:59] divega opened #668 "Decide what to do with EF content that is part of .NET Framework docs"
I ran into this old docs that have been ported: https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/ef/overview

Would probably make sense to remove them and redirect, merge anything that that has value into the EF6 docs.

[2018-04-03 00:38] divega opened #669 "Data seeding docs should mention requirement to provide key values even if the key is store-generated"
https://github.com/aspnet/EntityFrameworkCore/issues/11503 gives us a reason to believe that this could help.

[2018-04-08 19:17] ajcvickers commented on #611
See https://github.com/aspnet/EntityFrameworkCore/issues/10108 for sample code.

[2018-04-10 06:53] divega opened #671 "Update owned types section with 2.1 improvements"
E.g. they can now be owned in derived types:

https://github.com/aspnet/EntityFramework.Docs/pull/670#pullrequestreview-110658956

[2018-04-10 09:41] Dykam commented on #617
The documentation of either this or owned types, does not explain the absence of Owned Types when configuring Query types. It seems good to explain this limitation, if it makes sense.

[2018-04-10 15:09] ajcvickers commented on #661
See https://github.com/aspnet/EntityFrameworkCore/issues/626#issuecomment-379954244 for docs suggestions

[2018-04-10 19:15] divega opened #673 "Document EnableSensitiveDataLogging"
_From @Wain123 on June 22, 2017 11:7_

I have an ILogger with the following function:
[code]
DbCommands get logged and the CommandText looks correct, but all the parameter values are simply '?'. Here's a sample output from the Logger:
[code]

_Copied from original issue: aspnet/EntityFrameworkCore#8933_

[2018-04-10 19:15] divega commented on #673
_From @smitpatel on June 22, 2017 14:21_

By default EF doesn't put data in logs as the data may contain sensitive information. To get those parameter values, you need to chain `EnableSensitiveDataLogging()` after your `UseSqlServer` (or equivalent method)
e.g.
`builder.UseSqlServer("connectionstring").EnableSensitiveDataLogging()`

[2018-04-10 19:15] divega commented on #673
_From @jayoungers on August 23, 2017 17:55_

How is that not mentioned here?

https://docs.microsoft.com/en-us/ef/core/miscellaneous/logging

[2018-04-10 19:15] divega commented on #673
_From @smitpatel on August 23, 2017 21:26_

@divega For doc issue

[2018-04-10 19:15] divega commented on #673
_From @ajcvickers on April 10, 2018 18:57_

@divega Can this be moved out of the 2.1 milestone. (We are trying to make 2.1 only include issues that we must fix for 2.1)

[2018-04-11 08:32] Evertude opened #674 "Reference to unreleased nuget package"
Good morning!

I tried to run the samples in this project and realized that in
EntityFramework.Docs/samples/core/Saving/Saving/packages.config
there are references to
<package id="Microsoft.EntityFrameworkCore" version="2.1.0" targetFramework="net461" />
<package id="Microsoft.EntityFrameworkCore.Relational" version="2.1.0" targetFramework="net461" />
<package id="Microsoft.EntityFrameworkCore.Sql

[2018-04-11 18:35] divega opened #675 "Further updates for 2.1 what's new page"
So far I changed very little. We can add minor feature as well as update the examples to reflect refinements in 2.1 Preview 2. See the list of improvements at  https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-entity-framework-core-2-1-preview-2/

[2018-04-13 20:43] bricelam commented on #508
Note to documentor: don't forget to mention `Name=`

[2018-04-13 20:45] bricelam commented on #578
Not needed. We merged its functionality into `--force`

[2018-04-13 20:45] #578 closed

[2018-04-16 21:54] divega opened #681 "Improve documentation on how to write an EF Core provider"
Currently we have something very brief at https://docs.microsoft.com/ef/core/providers/writing-a-provider pointing to @ajcvickers's blog.

It would be good to update this to cover:
- Support for EF Core 2.1 features
- The mechanics of setting up spec tests (e.g. https://github.com/dotnet/efcore/issues/27107#issuecomment-1004923695)
- The mechanics of adding provider specific extension methods

Whe

[2018-04-17 21:51] divega opened #684 "Create page for workarounds for missing popular EF6 features"
This is an opportunity for us to provide some guidance on how to deal with the absence of some features until we have them. For example:

- Many-to-many: @ajcvickers' blog posts
- TPT: Use composition or TPH, or use views
- Spatial: Use SqlGeography and SqlGeometry or materialize to byte[], and FromSql, function mapping
- Stored procedure mapping: ExecuteSqlCommand, triggers, updatable views, etc.

[2018-04-18 18:02] divega opened #685 "Create article with workarounds for SQL Server features that don't have first-class support"
| Feature          | Workaround                                                                                                             |
|:-----------------|:-----------------------------------------------------------------------------------------------------------------------|
| Spatial          | Link to workarounds for missing EF6 features

[2018-04-18 19:28] iriza84 opened #686 "Invalid column name when implementing delete behavior"
Hi,

Is this an issue or am I missing something?
I'm trying to implement delete behavior, as consecuence, deleting records is successful, just as I expected BUT when I try to query the data, I get errors like "Invalid column name 'MetricId1'.", of course is invalid because I never created that column, I created MetricId, so why is looking for that column?
As soon as I remove the delete behavior st

[2018-04-18 21:14] divega commented on #686
@iriza84 I only read the first paragraph, but if you think this is an issue with the EF Core product, the right repository to report it is https://github.com/aspnet/entityframeworkcore.

[2018-04-18 21:20] divega commented on #686
Other than that, the empty call to `WithOne()` is asserting that there is no navigation property going back from BoardMetric into Metric for that relationship, which doesn't match what the InversePropertyAttribute says. Hence I believe what is happening is that the conventions are inferring that there must be two separate relationships and hence a separate shadow property gets created for the seco

[2018-04-18 21:20] #686 closed

[2018-04-18 21:47] iriza84 commented on #686
ok, thanks a lot for your answer

[2018-04-20 21:36] divega opened #688 "Delete old API reference?"
There is still a stale copy of the API reference at https://docs.microsoft.com/en-us/ef/core/api/. But it should redirect to https://docs.microsoft.com/en-us/dotnet/api/?view=efcore-2.0.

[2018-04-23 23:03] divega opened #690 "Data seeding: mention explicitly when data is applied (migrations and EnsureCreated)"
The first paragraph already says:

But this isn't very explicit. In most cases, migrations is a much more appropriate way to achieve that than invoking EnsureCreated.

However the sample console app that hosts the code snippets happens to use EnsureCreated for simplicity (that is, it requires zero additional steps), so we got [a PR](https://github.com/aspnet/EntityFramework.Docs/pull/687) suggesti

[2018-04-24 00:16] ajcvickers opened #691 "Provide guidance for deploying migrations"
This would primarily be:
* Best practices (For example, don't run migrations on app startup, generate scripts, etc.)
* How to generate scripts
  * Possibly also how to use ef.exe
* How to deploy scripts to common places--e.g. Azure
  * Possibly pros and cons of doing this a maintenance window as opposed to against a running app, and strategies for doing it against a running app if this is needed.

[2018-04-24 20:57] ajcvickers commented on #651
We would take a PR to add this.

[2018-04-24 21:05] ajcvickers commented on #674
Convert to package references and...use floats or whatever...something that works.

[2018-05-01 21:15] divega opened #694 "Document simple patterns for custom DDL in migrations with examples"
The section at https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/operations#using-migrationbuildersql shows a very nice pattern that uses MigrationsBuilder.Sql inside an extension method to reuse part of the logic.

However today I just needed to explain to a customer how to simply call Sql() to maintain stored procedures in migrations and it seems we don't have any basic exampl

[2018-05-11 22:35] divega opened #697 "Create topic for how to continue using 1.x dotnet-ef and update fwlink 871254"
The fwlink currently points to https://docs.microsoft.com/dotnet/core/tools/global-json, which shows how to "pin" a specific SDK in global.json.

We use the fwlink in this exception message:

We introduced it as the fix for https://github.com/aspnet/EntityFrameworkCore/issues/9984. It means that the 2.0 and 2.1 version of the EF Core tools (dotnet-ef) do not work with projects that target previous

[2018-05-14 17:04] ajcvickers opened #699 "Document how to use fields for navigation properties"
See https://github.com/aspnet/EntityFrameworkCore/pull/10939 and
https://github.com/aspnet/EntityFrameworkCore/issues/11992

[2018-05-14 18:50] #690 closed

[2018-05-14 20:13] #697 closed

[2018-05-14 20:31] divega commented on #697
fwlink updated.

[2018-05-14 20:37] divega opened #702 "Testing 123"
Delete

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b15cd4c-9cba-c0e2-7618-7d621a3c5936
* Version Independent ID: f4681bc6-57be-6e69-cad9-776ce64d93bd
* Content: [Quick Overview - EF Core](https://docs.microsoft.com/en-us/ef/core/)
* Content Source: [entity-framework/core/index.md](https://github.com/aspnet/EntityFr

[2018-05-14 20:38] #702 closed

[2018-05-15 20:01] divega opened #703 "Figure out how to make ad-hoc doc edits land on master rather than live"
I just noticed that when you edit a documentation article at https://docs.microsoft.com/dotnet it takes you to GitHub to propose a change on the mater branch. On our repo these changes always land in the live branch which is sometimes a bit of hassle.

cc @mairaw do you know how to change this?

[2018-05-15 20:09] mairaw commented on #703
Yep. I'll create a PR.

[2018-05-15 21:41] hsimah opened #705 "Namespace error"
The namespace is `Microsoft.EntityFrameworkCore.Storage.ValueConversion` not `Microsoft.EntityFrameworkCore.Storage.Converters`.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03dfe9f6-e831-ac3f-0b90-acb9b4c0f828
* Version Independent ID: a26156d1-a4b3-7df0-e63e-b8e9f804abbf
* Content: [Value Conversions - EF Core](htt

[2018-05-16 07:26] anis1011 commented on #346
@rsandhumcr I also have the same problem, would you  please elaborate your solution ? I made the console project as startup project and reference the main project from console application but still cannot run the Add-Migration Initial

[2018-05-16 16:37] ajcvickers commented on #684
See https://github.com/aspnet/EntityFrameworkCore/issues/12024 for DiagnosticSource example.

[2018-05-16 16:39] ajcvickers commented on #583
Also see See https://github.com/aspnet/EntityFrameworkCore/issues/12024

[2018-05-16 21:51] woolardfa opened #706 "Demonstrate foreign key property in the Fluent API section"
Since the introduction to the (Shadow Properties) topic states, "They are most often used for foreign key properties..." it would be more helpful to demonstrate THAT in the fluent API section, rather than just a simpler unexposed property.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 550a3c36-7f1d-efa7-3ed8-769720168

[2018-05-17 14:50] KathleenDollard opened #708 "In .NET Core 2.1 you no longer need to manually add DotNetCliToolReference"
DotNetCliToolReference for EF are now bundle in the .NET Core 2.1 SDK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adb04585-f54b-70c0-e847-b044b388a4d5
* Version Independent ID: 5e37f568-0621-a082-c75a-d2adf94dce8d
* Content: [Getting Started on .NET Core - New database - EF Core](https://docs.microsoft.com/en-us/ef/

[2018-05-17 21:49] ajcvickers opened #709 "Document that the context should not be used after it throws InvalidOperationException"
See https://github.com/aspnet/EntityFrameworkCore/issues/9835

[2018-05-17 23:23] ajcvickers opened #710 "Document how to seed owned types"
See https://github.com/aspnet/EntityFrameworkCore/issues/12004#issuecomment-389715911

[2018-05-18 09:16] markarnolditpro opened #713 "Define inheritance hierarchy as stated in the limitations"
`Filters can only be defined for the root Entity Type of an inheritance hierarchy` .
Please define inheritance hierarchy and provide a simple example of the limitation.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7c9bd3e-4b99-9acf-48d8-e47bc53eb54e
* Version Independent ID: 220e0a6c-d227-956a-d27a-7c88804f

[2018-05-21 17:04] jjung89 opened #714 "Parameter not found"
Hi,

I have the following error using Scaffold-DbContext when I set the value of parameter ContextDir:
Scaffold-DbContext : A parameter cannot be found that matches parameter name 'ContextDir'.
At line:1 char:178
+ ... .SqlServer -OutputDir ..\ApplicationCore\Entities -ContextDir DataAcc ...
+                                                       ~~~~~~~~~~~
    + CategoryInfo          : InvalidAr

[2018-05-21 19:15] NetMage opened #715 "grammer / typo"
"was always be evaluated in memory" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05d786fb-de7d-de13-7989-c29bfb990e4f
* Version Independent ID: 2f981058-e284-cb85-574c-a2cade3f2174
* Content: [What is new in EF Core 2.1 - EF Core](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-2.1)
* Content Source: [

[2018-05-21 22:08] jjung89 commented on #714
Ok I've downloaded the pre-release. It works great thanks !

[2018-05-21 22:08] #714 closed

[2018-05-21 22:28] touseefbsb opened #716 "Please update these docs for EF core 2.1"
EF Core has a lot of new cool features also for UWP so these docs should be updated according to EF Core 2.1
https://www.youtube.com/watch?v=k55kDH_ixrQ

Also the docs seem to be outdated and have some problem following on, please read the comments on the docs page for those errors or difficulties in following along this tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-05-22 16:49] mgulsoy opened #717 "Include code for Post class in code snippets in tutorial"
By given only the code of entity class Blog.cs, I try this tutorial but getting unwanted results. Please add Post.cs then it would be easier to realize the relation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 998197fe-077b-acee-c91c-12f074359e9e
* Version Independent ID: 7542e87e-8f99-9b91-6df1-6983776ad1d2
* Conte

[2018-05-22 19:08] divega opened #718 "Expand value conversions limitations section to make it more useful"
Per https://github.com/aspnet/EntityFrameworkCore/issues/12085, we are adding a fwlink to the warning you'll get when you try to reference a value or property that requires value conversion anywhere in a query but the final projection. The current text of the limitation's section doesn't help understand why the warning or what you can do about it.

[2018-05-24 10:32] dineshns opened #720 "How did you reference the model to uwp?"
How did you reference the model to uwp?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 439f9dd7-6fff-f3af-15a3-c4f407e2c041
* Version Independent ID: 2779bb58-f0af-c9ee-cf40-50e24371a7fc
* Content: [Getting Started on UWP - New Database - EF Core](https://docs.microsoft.com/en-us/ef/core/get-started/uwp/getting-started

[2018-05-25 14:22] Golars opened #721 "Problem with DefaultValueSql when you use postgresql"
Have problem with include sequence to postgresql database. Problem with default value.
"Obtaining the next value is done using the nextval() function instead of the standard's NEXT VALUE FOR expression." from official postgresql documentation (https://postgrespro.com/docs/postgrespro/10/sql-createsequence).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-05-26 23:30] bhlee90 opened #723 "Is a transaction necessary for a single create, update or delete statement?"
Is a transaction necessary for a single create, update or delete statement? If there is an on delete cascade for a foreign key in a table when the primary key in another table that the foreign key references is deleted, would a transaction be necessary, then? I know that a transaction is necessary for more than one create, update or delete statement.

---
#### Document Details

⚠ *Do not edit this

[2018-05-27 01:02] divega commented on #723
The behavior may be database specific. By default, SQL Server is in _autocommit_ mode, which means that single statements are wrapped in transactions automatically. But we have found that skipping the API calls to explicitly create and commit the transaction when SaveChanges only affects one row has no perceptible performance benefits.

[2018-05-27 01:02] #723 closed

[2018-05-27 16:10] ErikEJ commented on #458
Done already

[2018-05-27 16:10] #458 closed

[2018-05-29 20:27] univhack opened #724 "ASPNETCORE_ENVIRONMENT not being honored"
One of the tips in the documentation is to set ASPNETCORE_ENVIRONMENT but as shown in this github issue that variable is not being monitored by EF. https://github.com/aspnet/EntityFrameworkCore/issues/7353

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22803277-a2a7-0adf-acfc-35ed8e4238c8
* Version Independent ID: 1986

[2018-05-30 21:19] spankr opened #727 "Excellent documentation!"
I thought I'd add a comment that I really like the EFCore documentation. Our team just started looking into EFCore today and we were able to get our proof of concept up and running quickly (~1-2 hours), thanks to this documentation!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b15cd4c-9cba-c0e2-7618-7d621a3c5936
* V

[2018-05-30 23:06] davidekarasek opened #728 "Sparse on examples"
Documentation is sparse on examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de9db02d-7310-1141-6aeb-539c02326a36
* Version Independent ID: 90062036-aa01-3f73-dac9-b4a092245721
* Content: [Connection Strings - EF Core](https://docs.microsoft.com/en-us/ef/core/miscellaneous/connection-strings)
* Content Source: [

[2018-05-31 17:07] Praveen-Rai opened #729 "Please mention Namespace, Assembly Name and Inheritance Hierarchy on all the class documentation."
As we all know that EF Core is new and co-exists with EntityFramework, it becomes very difficult to find the classes mentioned / introduced in the documentation. For e.g. in the attached link, we're talking about NotMapped Attribute, now the first fact the user needs to know to implement this is to import the Namespace, which unfortunately is not mentioned in the article.

Likewise, assembly Name

[2018-05-31 20:51] cccuscott commented on #508
I see this didn't make it into 2.1 release. I am currently transitioning our SaaS product to .netcore (Great work) but we are a heavy DB first/reverse engineer shop for our EF stuff. Is there a quick and dirty on disabling migrations and doing reverse engineering?

[2018-06-01 11:22] Scandal-UK opened #730 "Seeding user"
How is the initial ASP.NET Identity user seeded? Is it similar? What about claims?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc418ab9-0592-f610-e751-40cb501220da
* Version Independent ID: 822e8923-2647-f573-0c74-66af903776d8
* Content: [Data Seeding - EF Core](https://docs.microsoft.com/en-us/ef/core/modeling/data

[2018-06-01 13:00] nfriend opened #731 "Error during "Create a controller" step"
While working through this tutorial, I encountered the following error on the "Create a controller" step:

![image](https://user-images.githubusercontent.com/1638631/40841792-1b733a92-6582-11e8-8d5a-1c0444bdc41c.png)

This occurs after the last step in the section - clicking "Add".

Here's what my `.csproj` looks like:

[code]

Here is my Visual Studio information:

[code]

---
#### Document Detai

[2018-06-01 13:18] Iymcjames opened #732 "Error Trying to use authentication in ASP.Net Core with EFCore"
Hello am new to ASP.Net Core( ASP.Net in general) I have followed the series of online tutorial and met with this error after using EF (DB first) with ASP.NET core.
If i run it ..I get this

![error](https://user-images.githubusercontent.com/24244713/40842269-36e80f1e-65a5-11e8-91f8-c3c83d2b1d36.PNG)

-After uninstalling Microsoft.VisualStudio.Web.CodeGeneration.Design from Package Manager Console

[2018-06-01 13:36] nfriend commented on #731
I was able to fix this issue by doing the following:

- Updating Visual Studio (I'm now on 15.7.3)
- [Installing the .NET Core 2.1 SDK](https://www.microsoft.com/net/download/visual-studio-sdks).  I was previously using the .NET Core 2.0 SDK.

I'm not sure which one of these fixed the problem (I'm guessing the second).

[2018-06-01 13:37] fmorriso opened #733 "Out of date information on Getting Started page"
As of June 1, 2018, the information on getting started with EF Core at link https://docs.microsoft.com/en-us/ef/core/get-started/install/ still shows information for EF Core 2.0 instead of the latest EF Core 2.1, which, if I understand correctly, has changed significantly since that page was last updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-06-01 14:50] spankr commented on #727
I don't really think this is an issue that needs to be addressed so I'm closing it. :)

[2018-06-01 14:50] #727 closed

[2018-06-01 17:13] ajcvickers commented on #727
@spankr We appreciate your comments--glad the docs are working for you.

[2018-06-01 20:49] divega opened #734 "Update walkthroughs for 2.1"
We are recommending to set DotNetCliToolReference and referring to the 2.0 SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adb04585-f54b-70c0-e847-b044b388a4d5
* Version Independent ID: 5e37f568-0621-a082-c75a-d2adf94dce8d
* Content: [Getting Started on .NET Core - New database - EF Core](https://docs.microsoft.com

[2018-06-01 20:54] divega opened #735 "Investigate possible issue with connection string or missing additional steps in .NET Core new db tutorial with SQLite"
I got a report saying that if you follow this instructions migrations commands will create a database on the root folder but then execution will try to look for the database file in bin\debug, which will make the application crash.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adb04585-f54b-70c0-e847-b044b388a4d5
* Ve

[2018-06-02 06:42] Silthus opened #736 "How to seed the ASP.NET Identity model, and related seeding questions"
# Updated to reflect the core issue we are tracking here:
TL;DR: It is very hard to come up with really good guidance on how create or update application state on deployment. Note that this is commonly related to database schema and seed data, but it is not limited to that.

Many customers end up adding logic at application startup because that runs after deployment, but this is very problematic,

[2018-06-02 07:52] Starkie commented on #735
We've tested it and apparently is related to how you execute the project:

- Executing the project from a powershell console using `dotnet run` works great.
- Executing the project from visual studio doesn't work. Throwing a `Microsoft.Data.Sqlite.SqliteException` with the error message ` SQLite Error 1: 'no such table: Blogs'.`
- Similarly, entering the `/bin/debug/netcoreapp2.1` and running `dot

[2018-06-02 11:39] martinpetrovaj commented on #736
Similar problem here. I was trying to seed the DB with a tree-like list of shop categories without knowing their IDs prior to seed (I'm relying on the DB to generate the ID identity key).

[code]
Seeding the EF Core the old way (in Program.cs or similar place using context.Categories.Add) works fine using the same code. But I hoped that we would finally be able to avoid such ugliness with HasData.

[2018-06-02 13:53] ErikEJ commented on #508
Have a look at EF Core Power Tools (I am the author) https://github.com/ErikEJ/EFCorePowerTools/wiki/Reverse-Engineering

[2018-06-02 14:15] niyeshiw opened #737 "No project was found. Change the current working directory or use the --project option."
i want to use migrations to create the database from my model,
i run dotnet ef migrations add InitialCreate,but it show "No project was found. Change the current working directory or use the --project option".what should i do?

[2018-06-02 15:04] julielerman opened #738 "Does CommitableTransaction need a Rollback call?"
I was unfamiliar with the difference between TransactionScope and CommitableTransactio and found this in the MS Docs ( https://docs.microsoft.com/en-us/dotnet/framework/data/transactions/implementing-an-explicit-transaction-using-committabletransaction) which says "Unlike the TransactionScope class, the application writer needs to specifically call the Commit and Rollback methods in order to commi

[2018-06-02 16:19] AndriySvyryd commented on #736
@Silthus @martinpetrovaj The key values need to be specified explicitly as we need to make sure that they stay the same across migrations and servers.
[code]

[2018-06-03 04:45] divega commented on #735
@Starkie well, we could add a note to the walkthrough saying that if you choose to use VS, you can set the working directory manually to be the root of the project, but the truth is that the whole walkthrough currently only covers the instructions for building the app using the command-line tools, so not sure how much value there is in mentioning VS just for this.

Anyway, I agree there is an inco

[2018-06-04 02:55] cephaspad commented on #736
How can I seed IdentityUser data, esp. password without using UserManager.CreateAsync

[2018-06-04 08:32] paulovila opened #739 "DBFunctions.CreateDateTime"
Hi, I'd like to be able to do queries like the following:

 `
_context.Shifts
    .Include(w => w.ShiftDefinition)
    .Select(w => new
    {
        w,
        dt = DbFunctions.CreateDateTime(
            w.ShiftDay.Year,
            w.ShiftDay.Month,
            w.ShiftDay.Day,
            w.ShiftDefinition.StartTime.Hours,
            w.ShiftDefinition.StartTime.Minutes,
            w.ShiftDefi

[2018-06-04 09:16] paulovila commented on #503
Hi, is there any equivalent of **IPluralizer** in 2.1.0?

[2018-06-04 11:19] lunidev commented on #717
namespace EFGetStarted.AspNetCore.ExistingDb.Models
{
    public partial class Post
    {
        public int PostId { get; set; }
        public int BlogId { get; set; }
        public string Content { get; set; }
        public string Title { get; set; }

        public Blog Blog { get; set; }
    }
}

[2018-06-04 17:39] ajcvickers opened #740 "Document which packages are required"
For example, how do people know that the Provider.Design packages are no longer used?

See https://github.com/aspnet/EntityFrameworkCore/issues/12171

[2018-06-04 19:47] fmorriso commented on #733
For example, instead of a DbIntitialize class with a method to seed the data, EF.Core 2.1 has a new, buiilt-in HasData() method.  Using the Angular Tour of Heroes as an example, assuming entity Hero is defined with an Id, Name and Created fields, it could be seeded with data using code similar to the following:

`
               protected override void OnModelCreating(ModelBuilder modelBuilder)

[2018-06-04 20:45] divega commented on #735
cc @BillHiebert as he changed this on https://github.com/dotnet/project-system/pull/3073.

[2018-06-04 21:43] AndriySvyryd commented on #736
@cephaspad I think `UserManager.CreateAsync` normalizes the provided data. So you could call `UserManager.CreateAsync` on a test database, then examine the raw data inserted and use the same values in `HasData`

[2018-06-04 21:54] ajcvickers commented on #736
@AndriySvyryd @divega @HaoK Does this go against guidance from Identity where I have heard that manipulating entities not through the manager is...er...frowned upon?

[2018-06-04 21:58] HaoK commented on #736
Yes its definitely frowned upon as the user might have fields that aren't initialized properly, like allowLockoutForNewUsers etc etc.

[2018-06-04 23:18] BillHiebert commented on #735
@Pilchie  - I made the change, but I wasn't the driver for it. If I recall, it was to be consistent with the full framework console project.

[2018-06-05 01:09] ajcvickers commented on #738
@julielerman I don't know the answer to your question (have you tried it?) but I'm curious why is it that you want to use CommitableTransaction?

[2018-06-05 01:30] julielerman commented on #738
I will try it tomorrow. It wasn't because I have a need for it but because I'm reading the docs and trying to learn from them and that was one of the examples in the docs. I didn't notice much difference between the ambient and commitable examples so started reading up on it.

[2018-06-05 13:00] djaus2 commented on #720
I have covered some of the related issues sat:
http://www.embedded101.com/Blogs/David-Jones/entryid/793/Entity-Framework-with-UWP-and-SQLite-Referencing-the-Model

[2018-06-05 13:02] djaus2 commented on #720
Its a pity that the detailed comments on the original posting of this info were ditched when the info was moved to docs.microsoft.com

[2018-06-05 16:13] julielerman commented on #738
It did indeed rollback.  So I don't understand the doc that said you need to do it explicitly. :(
Need to make openconnection called before enlisttransacdtion call BTW. Guess I'll do a PR for that.
Also there are a bunch of projects that aren't updated for 2.1...e.t., the aspnetcore projects. I just removed the test and the UWP after over an hour fighting packages and trying to build. That is too

[2018-06-05 16:13] #738 closed

[2018-06-05 19:28] FireAndIce68 opened #742 ".First() seems to ignore query filters"
Is it by design that the .First() method ignore query filter while the ToList() honour it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7c9bd3e-4b99-9acf-48d8-e47bc53eb54e
* Version Independent ID: 220e0a6c-d227-956a-d27a-7c88804f770c
* Content: [Global Query Filters - EF Core](https://docs.microsoft.com/en-us/ef/c

[2018-06-05 19:45] FireAndIce68 commented on #742
Scrap the above comment - coding error - this issue can be deleted

[2018-06-05 19:45] #742 closed

[2018-06-05 19:57] divega commented on #735
Thanks @BillHiebert, @Pilchie, @davkean: I went ahead and created https://github.com/dotnet/project-system/issues/3619 on your side.

I will keep this documentation issue open to decide how/if to update the docs after the outcome of https://github.com/dotnet/project-system/issues/3619 is known.

Note to self: the article contains a note that talks about paths in the connection string being relativ

[2018-06-06 11:39] HerraHak opened #743 "Constructive and concise"
As the title says.  I doubt though the usefulness of having included lazy loading in ef core when you can witness the damages it did to ef reputation so far.  But that's another debate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbd36f35-e257-d0ed-8f28-f539ddcb71ec
* Version Independent ID: 093903d5-f7c7-5a78-c0e5-

[2018-06-06 20:31] scout208 commented on #716
It looks like the comments have been removed from the page when it got ported over to the new system. Definitely need to update the docs so they work without problem.

[2018-06-07 17:04] gojanpaolo opened #746 "Please add to documentation what would happen if there are multiple parameterized constructor?"
Thanks! :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecc7aedf-6301-7ec7-4f65-81749b1f54c8
* Version Independent ID: d0774ffa-c841-e6df-72de-d7f53c0d6f6f
* Content: [Entity types with constructors - EF Core](https://docs.microsoft.com/en-us/ef/core/modeling/constructors#feedback)
* Content Source: [entity-framework

[2018-06-08 03:00] #715 closed

[2018-06-08 09:50] arifjmamun commented on #717
The document should be updated with EF Core 2.1 features. As EF Core 2.1 supports lazy loading, the database scaffolding not generating virtual keyword with navigation property. Its a major issue..that should be considered.

Hope that, the document gets update with desired feature.

[2018-06-08 13:57] Noemata opened #748 "Test all the walkthroughs with 2.1 release"
Using VS2017 15.7.3 with latest EF components fails when using the above documentation.  Add-Migration MyFirstMigration does nothing other than rebuilding the solution with the Model.  Please address this ASAP.  This is about the 5th reboot on EF for UWP, and each time the documentation is lacking to get to a working state.

How was this missed?

`<PropertyGroup>
   <GenerateRuntimeConfigurationFi

[2018-06-08 14:28] Noemata commented on #748
How was this missed in the docs?

<PropertyGroup>
   <GenerateRuntimeConfigurationFiles>true</GenerateRuntimeConfigurationFiles>
 </PropertyGroup>

[2018-06-08 14:29] Noemata commented on #748
"<PropertyGroup>
<GenerateRuntimeConfigurationFiles>true</GenerateRuntimeConfigurationFiles>
 </PropertyGroup>"

[2018-06-08 14:32] Noemata commented on #748
`<PropertyGroup>
   <GenerateRuntimeConfigurationFiles>true</GenerateRuntimeConfigurationFiles>
 </PropertyGroup>`

[2018-06-08 16:16] Noemata commented on #748
The docs for UWP located here are incomplete: https://docs.microsoft.com/en-us/ef/core/get-started/uwp/getting-started

There are at least two critical steps details missing.  Given this is the 5th reboot on the UWP EF docs, and they were never correct out of the gate, could someone please follow their own instructions to see what the various issues are.

There is also a step missing for creating

[2018-06-08 17:25] iflare opened #749 "Code example relevance"
The last code example has nothing to do with cascade delete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f0fb981-4dec-7ff7-817b-6606f620b875
* Version Independent ID: c7517e7d-f011-a24c-53da-913771913998
* Content: [Saving Related Data - EF Core](https://docs.microsoft.com/en-us/ef/core/saving/related-data)
* Conte

[2018-06-08 20:23] ajcvickers opened #750 "Document how to work with bounded contexts in Migrations"
See https://github.com/aspnet/EntityFrameworkCore/issues/2725

[2018-06-08 21:29] tbrownio opened #751 "When does Lazy Load trigger"
It would be helpful to understand when lazy loading is triggered. Perhaps you can provide a quick blurb explaining how how/when this occurs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbd36f35-e257-d0ed-8f28-f539ddcb71ec
* Version Independent ID: 093903d5-f7c7-5a78-c0e5-0e2662dcedef
* Content: [Loading Related Data

[2018-06-10 04:47] AlissonRS commented on #736
There are situations we don't actually care if the key values change. I think using the same key values, different ones or allowing the database to generate them should be up to the developer to decide.

[2018-06-10 05:52] AlissonRS opened #752 "Add-Migration - Unable to create an object of type DbContext error"
I'm trying to add the first migration with EF Core by running this command in the cmd (Developer Command Prompt VS 2017):

`dotnet ef migrations add InitialCreate`

I was pointing to my project's folder containing the `DbContext` class (not the solution folder), but this gives me an error:

`Unable to create an object of type 'MyDbContext'. Add an implementation of 'IDesignTimeDbContextFactory<MyD

[2018-06-10 13:21] yonexbat opened #754 "what about async and lazy loading"
@thetylerb lazy loading is triggered as soon as you access a relational property. But is it loaded in a async way or a synchronous way?  I used to have IList&lt;QuestionOption&gt; options = await _context.QuestionOptions.Where(option =&gt; option.Question.Id == questionEntity.Id).ToListAsync(); it is now IList&lt;QuestionOption&gt; options = questionEntity.options

---
#### Document Details

⚠ *Do

[2018-06-10 14:59] Ciwan1859 commented on #730
I too would like to know how to seed a user in EF Core 2.1.0.

[2018-06-10 18:32] Orgbrat opened #755 "ASP.NET Core 2.1.0 using EF Core 2.1.0 Identity"
So how does one seed the admin user along with his identity data including roles and claims in ASP.NET Core 2.1.0  that is using MSSQL Server as the data store based on EF Core 2.1.0.  I have used the HasData() function to load non-identity tables with no issue but do not understand how the user identity and related tables should be loaded. Can some one point me to a specific example loading these

[2018-06-11 00:11] AndriySvyryd commented on #736
@AlissonRS The keys are required to be able to detect changes made to the seed data when a migration is generated.

[2018-06-11 00:18] AndriySvyryd commented on #755
@Orgbrat Seed data is migrated with the schema. If you don't add more data then no rows will be inserted.

[2018-06-11 03:48] AlissonRS commented on #736
@AndriySvyryd I understand your point, usually we would use some other properties (e.g the user name) as a _key value_ in order to check if that entity already exists in the database, and change the other properties based on the anonymous object, but we wouldn't be able to change the user name (changing it would make EF assume we are seeding a new user).

Specifying the keys makes it possible to c

[2018-06-11 11:17] Orgbrat commented on #755
As I stated above I have seeded data in the Context for tables not related to Identity already successfully.
But my current question is how does one seed the website admin user along with his identity data including roles and claims in ASP.NET Core 2.1.0. There has to be a way to seed an initial user usually a web site default administrator for the website with all his correct roles and claims. In

[2018-06-11 13:23] JeanCollas opened #756 "Please include SQL samples"
Please include in this doc some generated SQL statements, or TSQL models corresponding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02e6748-42e0-000a-4945-42cd05a0b875
* Version Independent ID: e3effbd0-07f2-423d-4032-1722e75adb37
* Content: [Owned Entity Types - EF Core](https://docs.microsoft.com/en-us/ef/core/mo

[2018-06-11 15:47] HaoK commented on #755
You can seed data for identity similarly to before: http://www.binaryintellect.net/articles/5e180dfa-4438-45d8-ac78-c7cc11735791.aspx

[2018-06-11 17:03] psijkof commented on #749
It does. If you would enable logging on the DbContext, you would see the delete statements. The great thing is, on a code level, we 'just' work with the object tree. The nitty gritty is handled by EF Core.

[2018-06-11 17:30] ajcvickers commented on #736
@divega @AndriySvyryd I think we need to consider guidance around seeding. Specifically, when new-style model-based seeding should be used, and when it makes more sense to continue to use more traditional seeding approaches because:
* This is a testing scenario where the database is known to be empty and using a traditional approach allows full use of navigation properties, generated values, etc.

[2018-06-11 17:32] ajcvickers commented on #730
Duplicate of #736

[2018-06-11 17:32] #730 closed

[2018-06-11 17:35] ajcvickers commented on #755
Duplicate of #736

[2018-06-11 17:35] #755 closed

[2018-06-11 19:22] ajcvickers opened #757 "Document FK name length changes from 2.0 to 2.1"
Noting that if the provider had previously added a hack for this in Migrations, then some work may be required when moving to 2.1.

[2018-06-11 19:49] Orgbrat commented on #736
As Recommended by the Microsoft EntityFramework.Docs GitHub issues reply, I used the process stated on http://www.binaryintellect.net/articles/5e180dfa-4438-45d8-ac78-c7cc11735791.aspx and it all worked just fine. Thanks for the assistance.

Orgbrat

[2018-06-11 22:49] divega commented on #736
@ajcvickers @AndriySvyryd have we looked at how doing this with HasData looks like? It is really bad to have the keys? Does it not work at all?

Besides that, may main problem with the approach recommended at  http://www.binaryintellect.net/articles/5e180dfa-4438-45d8-ac78-c7cc11735791.aspx is that it does it at application startup, which can cause concurrency problems.

[2018-06-12 09:59] benm-eras commented on #755
While I would agree with @ajcvickers that looking at the titles this seems to be a duplicate of #736, I don't think it is! On #736 they seem to be using the term "identity" to discuss primary key columns when inserting seed data using `.HasData(...)`, where as this issue is actually focused specifically on seeding data for ASP.NET Core's identity system. Please consider reopening this issue.

@Hao

[2018-06-12 10:04] benm-eras commented on #736
@Orgbrat would you care to share an example of your solution? The code at the link you provided is for 2.0 and doesn't work as is for 2.1 since the way the web host is build in `Program.Main(...)` has changed and I am not sure how to get instances of the `UserManager` and `SignInManager`

[2018-06-12 16:35] Alazari-main opened #760 "Typo in lazy loading with lambda usage section"
public ICollection<Post> Posts
    {
        get => LazyLoader?.Load(this, ref _posts); // should be 'Invoke(...)' here
        set => _posts = value;
    }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbd36f35-e257-d0ed-8f28-f539ddcb71ec
* Version Independent ID: 093903d5-f7c7-5a78-c0e5-0e2662dcedef
* Content: [Load

[2018-06-12 16:37] ajcvickers commented on #760
@Alazari-main Can you explain why you think Invoke is needed/better here?

[2018-06-12 16:39] Alazari-main commented on #760
@ajcvickers, Yes, I can. Because I took this code from section where "LazyLoader" is provided as a Delegate (Action<object, string> in our case) and there is no `Load` method for the `Action` delegate

[2018-06-12 16:45] ajcvickers commented on #760
@Alazari-main The doc says, "The code above uses a Load extension method to make using the delegate a bit cleaner:" and then shows the extension method.

[2018-06-12 16:45] #760 closed

[2018-06-12 16:46] Alazari-main commented on #760
Ok. I'm blind. There was a misunderstanding from my side. Thank you for an explanation

[2018-06-13 08:29] mihaimuraru commented on #736
When unit testing DBContext using the in-memory provider,the database is initialized with data using context.Database.EnsureCreated() with the new model-based seeding with primary keys specified i have the following error when inserting new data in the DBSet<Entity> already seeded:
Message: System.ArgumentException : An item with the same key has already been added. Key: 1

I don't have this error

[2018-06-13 12:08] evanlarsen opened #761 "Question if maxlength affect the datatype"
If we use the DataAnnotation or Fluent API for MaxLength of 50 on a string value does that set the SQL datatype to nvarchar(50) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b143a3f-aecb-49b6-66e1-0c459af0e2de
* Version Independent ID: 1b594bfc-f0a3-4938-a415-50ea34805d8e
* Content: [Data Types - EF Core](https://d

[2018-06-13 18:03] davidekarasek opened #763 "Writing, or even reading directly with RDMS Tables is a Security and Extensible nightmare rightfully banned in many shops"
Writing, or even reading directly with RDMS Tables is a Security and Extensible nightmare rightfully banned in many shops.  We had a workable solution in EF6 to generate C# structures automatically from stored procedures as complex types.  Where is it in .Net Core? Why did we abandon this?  Just to keep developers employed writing CRUD data access layers in C# manually?

---
#### Document Details

[2018-06-13 18:32] #656 closed

[2018-06-13 18:38] ajcvickers commented on #706
We're having some trouble understanding exactly what you are asking for. Shadow properties for foreign keys are typically used by convention, as shown in the Conventions section. Can you elaborate a bit more on what is missing?

[2018-06-13 20:15] ajcvickers opened #764 "Document that owned type instances cannot be shared"
See https://github.com/aspnet/EntityFrameworkCore/issues/12345

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02e6748-42e0-000a-4945-42cd05a0b875
* Version Independent ID: e3effbd0-07f2-423d-4032-1722e75adb37
* Content: [Owned Entity Types - EF Core](https://docs.microsoft.com/en-us/ef/core/modeling/owned-entities)
*

[2018-06-13 20:28] ajcvickers commented on #713
@markarnolditpro It just means mapped classes that use normal class inheritance:
[code]
If Document and Blog are mapped, then the filter can only be applied to Document, not to Blog.

[2018-06-13 20:28] #713 closed

[2018-06-13 20:30] ajcvickers commented on #716
@touseefbsb Can you be more specific about what is missing?

[2018-06-13 20:42] Noemata commented on #716
For the Getting Started sample, the docs should clearly state that the following needs to be in the csproj of the Model part of the project:

<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFrameworks>netcoreapp2.0;netstandard2.0</TargetFrameworks>
    <RootNamespace>EFGetStarted.UWP</RootNamespace>
    <AssemblyName>EFGetStarted.UWP.Model</AssemblyName>
  </PropertyGroup>
  <Prope

[2018-06-13 20:55] Noemata commented on #716
Also, if you are going to provide a useful tip on the docs page, please provide a working sample.  Assumed knowledge only works for the person that has it.

Specifically, this tip:

[!TIP] SaveChanges() performance can be improved by implementing INotifyPropertyChanged, INotifyPropertyChanging, INotifyCollectionChanged in your entity types and using ChangeTrackingStrategy.ChangingAndChangedNotific

[2018-06-13 21:28] ajcvickers commented on #717
@mgulsoy Are you saying that when you ran the command to scaffold the database that it did not create the Post.cs class for you? Or, that you think the document should show all the code that is generated?

[2018-06-13 21:36] ajcvickers commented on #717
@bricelam @smitpatel Can you help find the issue about reverse engineering navigations as virtual?

[2018-06-13 21:37] smitpatel commented on #717
No tracking issue. Added by PR https://github.com/aspnet/EntityFrameworkCore/pull/11949

[2018-06-13 21:45] ajcvickers commented on #717
@arifjmamun See the PR linked by @smitpatel above, With this change, reverse engineering now generates virtual navigation properties suitable for lazy loading.

[2018-06-13 23:01] ajcvickers commented on #720
@dineshns Can you provide some more details as to what you are asking for?

[2018-06-13 23:03] ajcvickers commented on #721
@Golars Please file this issue against to the PostgreSQL provider: https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL

[2018-06-13 23:03] #721 closed

[2018-06-13 23:05] ajcvickers commented on #724
@univhack If you are still having problems with this, then please file a new issue on https://github.com/aspnet/EntityFrameworkCore/issues including a runnable project/solution and complete steps to reproduce the behavior you are seeing.

[2018-06-13 23:05] #724 closed

[2018-06-13 23:06] ajcvickers commented on #728
@davidekarasek Can you please be more specific about examples that would be useful?

[2018-06-13 23:14] ajcvickers commented on #729
@Praveen-Rai When creating documentation there is always a need to balance the level of detail with the goal of the documentation. Adding too much detail around peripheral/basic things can result in an excess of verbosity and obscure the main point of the documentation. For example, when showing C# constructs we assume that the reader either already knows C# or will find information about it elsew

[2018-06-13 23:37] ajcvickers commented on #732
@Iymcjames It looks like you need to update to the latest .NET Core SDK and Visual Studio 15.7.3. If this does not solve the issue, then I would consider filing an issue on https://github.com/aspnet/Scaffolding/issues which is where ASP.NET scaffolding issues are tracked.

[2018-06-13 23:37] #732 closed

[2018-06-13 23:40] ajcvickers commented on #733
Triage: We should update Getting Started to use the new seeding, if appropriate.

[2018-06-13 23:41] ajcvickers commented on #737
@niyeshiw You should change the current working directory (so you're in the project directory) or use the --project option.

[2018-06-13 23:41] #737 closed

[2018-06-13 23:42] ajcvickers commented on #739
@paulovila Is there a reason you want to use `DbFunctions.CreateDateTime` instead of new `DateTime(...)`?

[2018-06-13 23:43] ajcvickers commented on #743
Thanks for the feedback.

[2018-06-13 23:43] #743 closed

[2018-06-13 23:44] ajcvickers commented on #748
Triage: @divega to test the walk-though.

[2018-06-13 23:44] ajcvickers commented on #748
@Noemata Some of the guidance/links here may help: https://github.com/aspnet/EntityFrameworkCore/issues/10549

[2018-06-13 23:48] ajcvickers commented on #749
@iflare It depends on the definition of cascade delete. In this case, the delete is happening as a cascading effect of setting the navigation of a required relationship to null, thereby severing the dependent from the principal. Issue https://github.com/aspnet/EntityFrameworkCore/issues/10066 covers being able to separate this from a cascade that happens due to deletion of the principal.

[2018-06-13 23:48] #749 closed

[2018-06-13 23:50] ajcvickers commented on #751
@thetylerb Can you be more specific? That is, are you saying that it is not clear that lazy-loading happens when the navigation property is accessed, or that you want more details about when using lazy-loading causes a database access?

[2018-06-13 23:50] dineshns commented on #720
Hi @ajcvickers

Thank you for asking. Reply of djaus2 has workaround for my issue. I didn't try it yet. hope it works.

[2018-06-13 23:52] ajcvickers commented on #752
@AlissonRS Can you file a new issue on https://github.com/aspnet/EntityFrameworkCore/issues including a runnable project/solution or complete code listing that demonstrates the behavior you are seeing?

[2018-06-13 23:52] #752 closed

[2018-06-13 23:56] ajcvickers commented on #754
@yonexbat Lazy-loading is always synchronous when triggered through navigation property access because navigation properties cannot be defined as async. The lazy-loading infrastructure contains async methods that can be used to do something similar in an async way, but it would be up to the application to wire this up whatever API makes sense. See the `ILazyLoader` class for the async methods.

[2018-06-13 23:56] #754 closed

[2018-06-13 23:56] ajcvickers commented on #761
@evanlarsen Yes, assuming that EF is being used to create the database through either Migrations or an EnsureCreated call.

[2018-06-13 23:56] #761 closed

[2018-06-13 23:58] ajcvickers commented on #763
@davidekarasek Stored-proc mapping is tracked by https://github.com/aspnet/EntityFrameworkCore/issues/245.

[2018-06-13 23:58] #763 closed

[2018-06-13 23:59] #720 closed

[2018-06-14 00:20] paulovila commented on #739
I was porting code from EF6 to EF core, then I supposed that that limitation was going to be the same in EF core. I can't try my the code at the moment, but my quick question would be: Is 'new DateTime' captured as an expression and translated into sql?

[2018-06-14 04:56] cwsDavid opened #765 "Examples would be nice addition"
For Scaffold-DbContext, an example of stringing together parameters with the command would be nice, especially for -Schemas or -Tables that take a list. Also illustrating use of -Project and -StartupProject with -OutputDir and -ContextDir to show a semi real-world use would probably be useful to may just starting with this.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-06-14 09:29] Noemata commented on #748
@ajcvickers, please read what has been posted.  The very first item I provided has the same content as your suggested help item.  I guess this is part of the problem, posted content isn't being read fully.  Skimming is for speed readers, not for mere mortals ;-)

[2018-06-14 09:32] davidekarasek commented on #728
We have a.large set of existing ASP.Net MVC 2 APIs that call stored
procedures for all CRUD operations. These all use EF6  to automatically
generate and regenerate stored procedure results into a C# class using an
EDMX complex type, as well as generate the C# code to call the store
procedure from the stored procedure list of parameters.

We now are trying to similarly do the same thing in EF Core

[2018-06-14 11:33] touseefbsb commented on #716
I think @Noemata  clarifies it up perfectly

[2018-06-14 12:50] lackovic opened #766 "Error with Add-Migration InitialCreate"
When I run "Add-Migration InitialCreate" I get the error:
The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Cannot find path '...\Project.sfproj\bin\Debug\' because it does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c78ab24c-ddc8-521d-

[2018-06-14 13:02] miksh7 opened #767 "Text-based query language (e.g. Entity SQL)"
It shows 1.0 in EF6 column, is it correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fc2d1a4-a434-69f9-3df3-9818c571c978
* Version Independent ID: a272636c-100d-fb7b-d7a9-713adc0b2b8e
* Content: [EF Core & EF6 Feature by Feature Comparison](https://docs.microsoft.com/en-us/ef/efcore-and-ef6/features)
* Content So

[2018-06-14 15:05] divega commented on #767
Fixed in https://github.com/aspnet/EntityFramework.Docs/commit/153ba9f76399dcbe021d667e32bc404bac181bff. Thanks!

[2018-06-14 15:05] #767 closed

[2018-06-14 15:16] dazinator opened #768 "Document how to combine query filters"
Can you keep calling .HasQueryFilter()ont he same entity type to add multiple filters? Will they use an AND conjunction to stack, or does the last one overwrite?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7c9bd3e-4b99-9acf-48d8-e47bc53eb54e
* Version Independent ID: 220e0a6c-d227-956a-d27a-7c88804f770c
* Content:

[2018-06-14 16:20] ajcvickers commented on #739
@smitpatel Is new DateTime translated yet, at least on SQL Server?

[2018-06-14 16:21] ajcvickers commented on #766
@lackovic Is the file really an "sfproj" or is that a typo?

[2018-06-14 16:52] smitpatel commented on #739
No.

[2018-06-14 17:14] smitpatel commented on #768
Last one wins. You would need to do conjunction yourself before passing in lambda.

[2018-06-14 17:59] smitpatel commented on #748
It was missed (or rather excluded) since it is a _work-around_ to an issue which happened in .NET Core release and which has been already fixed in 2.0.x as per https://github.com/aspnet/EntityFrameworkCore/issues/10298
Once bugs are fixed and packages are released to publics, work-arounds shouldn't be documented since customers should be using latest stable set of packages. (at least for patch).

[2018-06-14 18:41] joaosantana opened #769 "PropertyGroup tag must be replaced in model .csproj to allow Migrations to work as expected"
The new model ```.csproj``` must be manually edited to replace

[code]

with

[code]
otherwise, Migrations will fail, returning this message:

```Startup project 'Model' targets framework '.NETStandard'. There is no runtime associated with this framework, and projects targeting it cannot be executed directly. To use the Entity Framework Core Package Manager Console Tools with this project, add an

[2018-06-14 20:04] ajcvickers commented on #728
@davidekarasek It sounds like EF Core is probably not the right choice for you at this time. Stored procedure mapping is tracked here https://github.com/aspnet/EntityFrameworkCore/issues/245, but is not yet scheduled. We get a fair amount of requests for this, but it's a long way off being the most requested feature.

[2018-06-14 20:29] ajcvickers commented on #736
@mihaimuraru Can you please file an issue at https://github.com/aspnet/EntityFrameworkCore/issues including a runnable project/solution or complete code listing that demonstrates the behavior you are seeing?

[2018-06-14 20:56] Noemata commented on #748
When you have privileged access to working solutions it's unwise to impose your privilege on others.  At present, the docs provided don't work for mere mortals that must use what is generally available.  This is a long standing issue with Microsoft.  It's entirely possible these docs have consistently been one step behind what Microsoft folks use internally, and thus consistently incomplete to the

[2018-06-14 21:35] smitpatel commented on #748
The _current release_ for SQLite package is 2.1.0 & 2.0.3 according to https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.Sqlite/
Both of those release has bug fix included which removes requirement of adding such work-around. If you are still seeing that you need to add `GenerateRuntimeConfigurationFiles` in csproj with _current public release_ then please file issue with detailed repro

[2018-06-14 22:45] davidliang2008 opened #772 "Document on how to store owned types in separate tables"
To store `OrderDetails` into separate tables, should it call `ToTable` on OrderDetails entity instead of on `Order` entity?

On the document:
[code]

Should it be:
[code]

[2018-06-14 23:30] davidliang2008 commented on #772
Oh ok coz I didn't try executing the code myself. Thanks for clarifying 👍

[2018-06-14 23:34] AndriySvyryd commented on #772
@smitpatel When the overload with nested lambda is used the returned builder is the original one, so it does make a difference in this case.
@davidliang2008 The second snippet is the right one for your scenario.

[2018-06-14 23:38] #764 closed

[2018-06-14 23:59] davidliang2008 commented on #772
Oh then the example on the Microsoft doc is indeed wrong then.

[2018-06-15 07:40] mihaimuraru commented on #736
I have filed https://github.com/aspnet/EntityFrameworkCore/issues/12371
with a solution that reproduces the behavior.

[2018-06-15 15:20] tnk479 commented on #736
I upgraded a .NET Core project from 2.0 to 2.1 in Visual Studio for Mac and this HasData method does not resolve. I verified under Nuget that I have AspNetCore.All and everything under that is 2.1.

[2018-06-15 16:17] ajcvickers commented on #736
@tnk479 If you believe this is a bug, then please file an issue at https://github.com/aspnet/EntityFrameworkCore/issues including a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2018-06-15 21:17] ajcvickers opened #773 "Clarify conceptual use of query filters, especially in relation to parameters"
For example, see confusion here: #12375

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7c9bd3e-4b99-9acf-48d8-e47bc53eb54e
* Version Independent ID: 220e0a6c-d227-956a-d27a-7c88804f770c
* Content: [Global Query Filters - EF Core](https://docs.microsoft.com/en-us/ef/core/querying/filters)
* Content Source: [entity-fram

[2018-06-15 21:30] ajcvickers commented on #748
Assigning to @divega to test the walkthrough, especially with reference to whether the workaround described above is still needed for 2.1.

[2018-06-15 21:31] ajcvickers commented on #716
Closing this in favor of #748. @divega will test the UWP docs for 2.1. to see what is not working.

[2018-06-15 21:31] #716 closed

[2018-06-15 21:31] ajcvickers commented on #769
Closing this in favor of #748. @divega will test the UWP docs for 2.1. to see what is not working.

[2018-06-15 21:31] #769 closed

[2018-06-16 00:01] iflare commented on #749
@psijkof @ajcvickers Thank you both. I understand the logic behind it now. The explanation in Cascade Delete section is easier to understand  – "A closely related concept also covered by EF Core delete behaviors is the automatic deletion of a child entity when it's relationship to a parent has been severed--this is commonly known as "deleting orphans".

[2018-06-16 03:04] joaosantana opened #774 "Provide an example in remove a selected item"
The given examples shows how to remove the first or the last entities, but no code example is supplied for a entity between them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23f8db8b-8ee6-86c9-7cb2-b5802214ec13
* Version Independent ID: b959839c-684e-5d60-650e-0af17c971c79
* Content: [Basic Save - EF Core](https://d

[2018-06-16 06:58] orobert91 opened #775 "Document behaviors and conventions for navigation properties and backing fields"
What about navigational properties? What is the behavior with those? Seems like EFCore completely ignores the convention when the property is configured a navigational property.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e162696-b19f-d73f-8b1f-d1b4c3048b62
* Version Independent ID: a83e4fb5-e4ae-a46f-7248-487ea267

[2018-06-16 18:43] crtjr64 opened #776 "Ambiguity Big at Microsoft"
The unfortunate side of people who are not well versed with the nuances of the English language in America regardless of where they come from, ambiguity creeps into instruction "from the application's service provider" Makes me think  Verizon plays a part in my code...I know it doesn't but it means that its reference remains ambiguous and a waste of my very valuable time. If it comes from the call

[2018-06-18 17:06] ajcvickers commented on #774
@joaosantana Using First and Last is just a convenient way of getting a single entity for the example. You could instead query for the entity in any other way. For example, to delete an entity with a specific key:
[code]

[2018-06-18 17:07] #774 closed

[2018-06-18 17:09] ajcvickers commented on #775
@orobert91 Navigation properties use the same convention. If this isn't working, then please file a new issue on https://github.com/aspnet/EntityFrameworkCore/issues including a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2018-06-18 17:12] martingbrown opened #777 "IDbContextFactory<TContext> Interface should explain why it is obsolete"
This post states that the IDbContextFactory&lt;TContext&gt; interface is obsolete. I'm looking this up because I don't really know what it does and I've found it in some legacy code. It would be nice to have a description here of why it is obsolete and what should be used instead or whether it can simply be ignored. Also it would be nice to know which version of EntityFramework it became obsolete

[2018-06-18 17:15] ajcvickers commented on #776
@crtjr64 Thanks for the feedback. Given that the "application" is, well, the application, and the service provider in ASP.NET is the object that the application has that implements IServiceProvider, it's not clear to me what language choices could have been used to improve this, but if you have suggestions they are most welcome.

[2018-06-18 18:40] #728 closed

[2018-06-18 18:42] ajcvickers commented on #739
@divega to investigate what we did in EF6

[2018-06-18 19:15] ajcvickers opened #778 "Create samples for databinding using EF Core in WPF and WinForms"
Moved from https://github.com/aspnet/EntityFrameworkCore/issues/12396 posted by @Int32Overflow

I am facing the task of implementing a large database application in WPF. I have already worked with small WPF database applications.
Unfortunately, I haven't found an example of large WPF EFC applications.

 **A brief summary of my task:**
- WPF application with MVVM
- Data with Entity Framework Core 2

[2018-06-18 19:23] ajcvickers commented on #765
Covered by #508

[2018-06-18 19:23] #765 closed

[2018-06-18 19:27] ajcvickers commented on #766
Triage: looks like a duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/10327

@lackovic If this is still failing with EF Core 2.1, then please file a new issue including a runnable project/solution at https://github.com/aspnet/EntityFrameworkCore/issues

[2018-06-18 19:27] #766 closed

[2018-06-18 19:32] ajcvickers commented on #777
@martingbrown It has been replaced with https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.design.idesigntimedbcontextfactory-1?view=efcore-2.1 which should be used instead, as indicated by the test in the Obsolete attribute, which is shown in the docs.

[2018-06-18 19:32] #777 closed

[2018-06-18 19:34] ajcvickers opened #779 "Document high-level model building concepts"
Such as:
* Fluent over Attribute over Convention precedence for mapping
* Last-one-wins in Code First

[2018-06-18 19:51] ajcvickers commented on #775
Clarify that navigation properties are by convention always set through the property even if the field has been discovered. This is because setting navigation properties is never considered to be part of entity materialization (because you have to have two materialized entities before a navigation can be set) but this is something that is more due to implementation than an intended conceptual choi

[2018-06-18 20:05] johnnyreilly commented on #691
Really pleased to see this has been raised - looking forward to hearing more!

[2018-06-19 16:49] ajcvickers opened #780 "Document CreateProxy"
See https://github.com/aspnet/EntityFrameworkCore/issues/12389

[2018-06-19 17:39] wadebee commented on #776
My guess at original commenter is that Service is such an overloaded term (eg: Web Services, Micro/Mini services, no D/I services). I know Autofac used the term in their D/I as well but as an developer working on mini-services, I sure wish MS would have went with the terms dependencies and dependency providers rather than services and service providers.

[2018-06-19 22:27] rolandgpainter opened #781 ".Net Core 2.1 SDK changes?"
Hi, thanks for this walk through. I had a few issues trying to get started with it, and noticed a few other differences along the way, might be because I'm using .Net Core 2.1 SDK not 2.0?
* Trying to run the Install-Package commands generated errors saying there was a version mismatch and that I should add it to the project only. In a one project solution that is not an option. Turns out that the

[2018-06-19 23:16] rubekon commented on #781
Getting the same issue as above.  Also when I try to create the controller, I get the message "Method Not Found: Void"

[2018-06-20 02:55] orobert91 commented on #775
I think you should consider writing to backing fields the default behavior, whether it's for materialization or setting a navigation. When developer declares a backing field, there's a high chance it's because the getter and setter contains other logic. Also, it keeps everything consistent and will not pollute the DbContext model creation with SetPropertyAccessMode(). Anyway, thanks for clarifying

[2018-06-20 10:33] Antevirus opened #782 "Lazy loading without proxies - cant instantiate object not attached to context"
Hello.

This is not a bug, but an issue that i stumbled upon today.

When i instantiate objects not attached to the context they get a NULL value, when lazy loading without proxies is used, according to your documentation examples.

Lets look at the Blog and Post classes in your documentation from this page:
https://docs.microsoft.com/en-us/ef/core/querying/related-data

This is how Posts is retri

[2018-06-20 12:42] joaosantana commented on #774
*necrotic powers* Thank you for the explanation. EF is completely new to me. *necrotic powers fades*

[2018-06-20 14:29] eSPiYa commented on #737
I'm experiencing the same issue. My project is already selected as Default project but I'm receiving the same error. I also used the --project option but still don't work: `dotnet ef migrations add InitialCreate --project "C:\path_to_my_project\MyProject.csproj"` or even `dotnet ef migrations add InitialCreate --project="C:\path_to_my_project\MyProject.csproj"`

I'm using VS2017 and .NET Core 2.1

[2018-06-20 15:28] ajcvickers commented on #775
@orobert91 We were discussing the same thing recently. I filed #12430

[2018-06-20 16:36] ajcvickers commented on #782
@Antevirus Thanks for pointing this out. Actually, the null propagation operator should not have been used in that call--see PR and description here: https://github.com/aspnet/EntityFramework.Docs/pull/783

[2018-06-20 16:36] #782 closed

[2018-06-20 16:52] ajcvickers commented on #737
@eSPiYa Please file a new issue and include a project/solution that demonstrates the behavior you are seeing.

[2018-06-20 19:27] #751 closed, assigned to nobody

[2018-06-20 19:27] #776 closed

[2018-06-20 21:59] ajcvickers opened #784 "Use rowversion/timestamp convert to ulong as example for type conversions"
See https://github.com/aspnet/EntityFrameworkCore/issues/5936

[2018-06-21 00:36] ajcvickers commented on #717
Based on listening to @rowanmiller in his current role, we should add the code to the post even though it is generated.

[2018-06-21 00:42] ajcvickers commented on #748
Triage: re-purposed this to a more general test walkthroughs issue. Also, when updating walkthroughs, try to make them less version dependent in both tone and content.

[2018-06-21 00:43] ajcvickers commented on #748
Consider case in #781 when working on this.

[2018-06-21 00:43] ajcvickers commented on #781
Triage: tracking this through #748

[2018-06-21 00:43] #781 closed

[2018-06-21 03:55] Padhraic opened #785 "IMigrationsCodeGenerator"
I cannot find any reference to IMigrationsCodeGenerator or any example of how to write one.

UPDATE:
After a little searching, I have tried implementing my own IMigrationsCodeGenerator using the CSharpMigrationsGenerator instead of writing my own MyMigrationsCodeGenerator like this.

[code]

Still getting a NullReferenceException when doing add-migration so do not know if this is correct.
I am try

[2018-06-21 06:35] Padhraic commented on #785
I tried to create an EF Core context in a standard 2.0 library project was successful without any dificulity.
So what ever problem I am having with my main project has nothing to do with the problem in the docs.
Closing..

[2018-06-21 06:35] #785 closed

[2018-06-21 16:22] JaimeStill opened #786 "Clarify what entity states result from Add/Attach/Update on a graph"
## Overview
In the [docs](https://docs.microsoft.com/en-us/ef/core/saving/related-data), it demonstrates how to add an entity with new related entities. What is the recommended method for adding a new entity that is related to an already existing entity?

***Note***: I wasn't sure whether this issues is more relevant to the EF project itself, or the documentation. As it is more geared towards clar

[2018-06-21 16:44] ajcvickers commented on #786
@JaimeStill Have you read through the [disconnected entities](https://docs.microsoft.com/en-us/ef/core/saving/disconnected-entities) documentation?

[2018-06-21 16:51] JaimeStill commented on #786
@ajcvickers, [disconnected entities - mix of new and existing entities](https://docs.microsoft.com/en-us/ef/core/saving/disconnected-entities#mix-of-new-and-existing-entities) says

Will an update for an existing entity be triggered if it has not been modified? I don't need the existing entity to be updated, I just want it to be associated with the new entity.

[2018-06-21 16:55] ajcvickers commented on #786
@JaimeStill Attach does the same as update, but marks all the entities as Unchanged--that is, existing in the database but not changed.

[2018-06-21 17:30] ajcvickers commented on #786
@JaimeStill What kind of check are you referring to?

[2018-06-21 17:52] ajcvickers commented on #786
@JaimeStill Yes, but how is it determined whether it should be added, updated, or attached?

[2018-06-21 19:11] dfoulk commented on #597
@cwrea Thank you for mentioning this. I would've spent hours debugging that issue if I hadn't seen your comment first! Literally saved us hundreds of dollars!

[2018-06-21 20:14] cwrea commented on #597
@dfoulk You're welcome. FWIW, since I posted that, there's hope that Visual Studio 15.8 Preview 3 may address these issues. See my comment from a couple of days ago at https://github.com/xamarin/xamarin-macios/issues/4168#issuecomment-398521666 ... I haven't tried the preview myself, yet. Tied up in other project work at the moment.

[2018-06-21 22:33] christianquirante commented on #720
I really hope this documentation is updated, it doesn't work.... I tried following djaus2 workaround but it doesn't work at all for me... it is frustrating...

[2018-06-22 01:02] djaus2 commented on #720
I have successfully revisited this methodology.
I'll revisit my documentation.
Nb successfully using EFCore V2.1

Sent from my Windows 10 phone

________________________________
From: christianquirante <notifications@github.com>
Sent: Friday, June 22, 2018 8:33:47 AM
To: aspnet/EntityFramework.Docs
Cc: David Jones; Comment
Subject: Re: [aspnet/EntityFramework.Docs] How did you reference the model

[2018-06-22 05:52] MohammadMQ opened #788 "Clarify when to use tracking versus no-tracking queries"
I would like this article to mention a little about whether to use tracking on web pages where the environment is pr. default disconnected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3ffc114-df51-0be7-8972-6fcead14e011
* Version Independent ID: 94c34571-7314-aab1-7898-93ac6d0f3430
* Content: [Tracking vs. No-Track

[2018-06-22 12:08] JaimeStill commented on #786
@ajcvickers, the [docs](https://docs.microsoft.com/en-us/ef/core/saving/disconnected-entities#trackgraph) state:

For auto-generated keys at least, I would propose that if adding a new entity using `Add` that contains an existing entity, if the entity has an ID, then it shouldn't attempt to add the existing entity as shown by the error in the initial post. This would prevent having to nullify navi

[2018-06-22 13:49] Pinox commented on #597
@cwrea  very weird.  I'm running  ef core 2.1 on my android and native UWP and it works and builds fine (debug and release) , but I'm using Microsoft.Extentions.primitives version 2.0

[2018-06-22 15:37] cwrea commented on #597
@Pinox Do you have linking enabled? The oustanding Android issue is specific to having linking enabled.

[2018-06-22 15:51] Pinox commented on #597
@cwrea  In release mode I have "SDK Assemblies" and in debug mode "none".

[2018-06-22 16:55] ajcvickers commented on #786
@JaimeStill I think what is not clear from the docs is that Attach does what you are asking. That is, if the entity is using store-generated keys and the key value is not set, then it will be marked as Added, otherwise it will be marked as Unchanged.

The reason Add does not do this is because inserting entities with explicit key values can be useful even when the entities are setup to use store-g

[2018-06-22 20:15] MFry opened #789 "ASP.NET Core Example does not work."
The ASP.NET core example will throw an exception in ASP.NET Core 2.1 with EF Core 2.1. Which will throw the System.InvalidOperationException.
With the message:
 'No database provider has been configured for this DbContext. A provider can be configured by overriding the DbContext.OnConfiguring method or by using AddDbContext on the application service provider. If AddDbContext is used, then also en

[2018-06-22 20:37] MFry commented on #789
It looks like I was just missing the constructor within a controller.
If you are going to migrate the default generated connection string don't forget to add to each controller
[code]

[2018-06-22 20:37] #789 closed

[2018-06-23 12:59] chengchengba commented on #781
Dont care the Full Dependencies , I didn't find it either, just go to below steps directly, it works
Now that scaffolding is enabled, we can scaffold a controller for the Blog entity.

Right-click on the Controllers folder in Solution Explorer and select Add -> Controller...
Select MVC Controller with views, using Entity Framework and click Ok
Set Model class to Blog and Data context class to Blog

[2018-06-25 01:09] divega commented on #691
Copying the address of @johnnyreilly’s blog post here:

https://blog.johnnyreilly.com/2018/06/vsts-and-ef-core-migrations.html

[2018-06-25 17:37] memark opened #791 "Named connection strings"
It would be nice if the documentation reflected the fact that you can use e.g. "name=MyDatabase" as the connection string (given that this is the name of your connection string in config).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263f21d6-6edc-7582-e0e2-fa1c9670bcc0
* Version Independent ID: b3dd8c84-18b1-f98d-64

[2018-06-26 06:38] MohammadMQ opened #792 "ChangeTracker.Tracked Event sample"
please provide a sample on how to use this : ChangeTracker.Tracked Event

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f103c57-8d32-05f8-098d-ce19b6ddce61
* Version Independent ID: 7b1a6450-b4e7-13e6-f590-f367bd3ba742
* Content: [ChangeTracker.Tracked Event (Microsoft.EntityFrameworkCore.ChangeTracking)](https://docs

[2018-06-26 08:57] mgulsoy commented on #717
@ajcvickers No. My approach is a little bit different. Possibly scaffolding will produce desired results but I want to understand the mechanism first. In my opinion, adding Post.cs will help in understanding the structure easier. Thank you.

[2018-06-26 12:06] JohnGalt1717 opened #793 "Show DbContext definition including db.BlogPostsCounts property in code snippets"
You don't define where or how to setup db.BlogPostCounts after the query type is defined in OnModelCreating so it comes out of thin air with no way to know how you're supposed to define it. If you add a DbSet with the type BlogPostsCount you'll get an invalidOperationException saying that an entity type with the same name already exists. As a result this sample is not at all clear and cannot lead

[2018-06-26 14:07] kenyachan opened #794 "Update or replace ASP.NET Core new database walkthrough"
The option for "Minimal Dependencies" doesn't exist when I go to add a controller.
I get the following:
- MVC Controller - Empty
- MVC Controller with read/write actions
- MVC Controller with views, using Entity Framework
- API Controller - Empty
- API Controller with read/write actions
- API Controller with views, using Entity Framework

---
#### Document Details

⚠ *Do not edit this section. It

[2018-06-26 14:36] JaimeStill commented on #786
@ajcvickers, I've been able to get the initial sample working with the below method:

[code]

I can see how there is utility in being able to seed new values from the `Add` method, and I really appreciate you taking the time to explain all of this. Just my two cents, there should at least be a way for you to explicitly tell `Add` that you are seeding a complex graph with keys being explicitly prov

[2018-06-26 15:45] Rick-Anderson commented on #794
@kenyachan  that tutorial is out of date. I created https://github.com/aspnet/Docs/issues/7300 to track this.

I'll have https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/intro updated to .Net Core 2.1 SDK tomorrow. See https://github.com/aspnet/Docs/pull/7163
 I think redirecting to my tutorial is a better option if I can talk @divega  into the redirect.

[2018-06-26 16:39] ajcvickers commented on #793
@JohnGalt1717 Thanks for reporting this--we will update the document. BlogPostCounts should be defined as a `DbQuery` property on the context:
[code]

[2018-06-26 19:38] xsqian opened #796 "Template Processing Failed:(4,47): error CS0234:"
There was an error running the selected code generator: ‘There was an error running the template C:\User\xsqian\.nuget\packages\microsoft.visualstudio.web.codegenerators.mvc\2.1.1\Templates\ControlerGenerator\MvcControllerWithContext.cshtml: Template Processing Failed:(4,47): error CS0234: The type of namespace name ‘Hosting’ does not exist in the namespace ‘Microsoft.AspNetCore.Razor’ (are you mi

[2018-06-27 16:41] MohammadMQ commented on #792
Working sample here: https://stackoverflow.com/questions/51036526/entity-framework-core-2-1-changetracker-tracked

[2018-06-27 19:58] jsmith-jxe opened #797 "System-Versioned Memory-Optimized Table support?"
Is there support for Memory-Optimized tables that are System-Versioned as well, as long as the SQL Server DB is &gt;= 2016? See https://docs.microsoft.com/en-us/sql/relational-databases/tables/system-versioned-temporal-tables-with-memory-optimized-tables?view=sql-server-2016

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-06-28 11:01] JasonLoKiSmith opened #798 "The link for System.Transactions is wrong"
Hi Guys,

In the documentation listed here: https://blogs.msdn.microsoft.com/dotnet/2018/05/30/announcing-net-core-2-1/
the link to System.Transactions points to Querytypes.

Kindly resolve

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ace630fc-7310-10b7-39bb-26fcfe3f3950
* Version Independent ID: dbe96b32-0589-0f8c-6

[2018-06-28 21:14] divega opened #799 "Improve accessibility of documenation"
1. Make sure images have descriptive alt-text
2. Make sure heading levels are coherent

[2018-06-28 22:10] pedrosanguineti opened #800 "Rollback first migration"
The documentation explains how to rollback to a previous migration but it does not explain how to rollback the first migration (which does not have a previous correct one).

[2018-07-02 04:16] SimonCropp opened #802 "API pages should link to full doco"
While the [API Browser](https://docs.microsoft.com/en-au/dotnet/api/index?view=aspnetcore-2.1) useful, it usually lacks further doco like contextual information and usage snippets

Also often people land on the api from a search, when really they want the doco

It would be good if, where possible, api linked to the most relevant doco page. For example

 * https://docs.microsoft.com/en-us/dotnet/ap

[2018-07-02 04:19] SimonCropp opened #803 "Change nuget urls to point to doco or better landing page"
Often searches will resolve to a nuget package. or people will know the nuget they are using and want to find the doco for it.

However most MS nuget

At the moment nugets point to generic getting stated pages. For example

 * [Microsoft.Extensions.Logging.Console](https://www.nuget.org/packages/Microsoft.Extensions.Logging.Console/)
 * [Microsoft.EntityFrameworkCore.SqlServer](https://www.nuget.o

[2018-07-02 18:47] ajcvickers commented on #796
@Rick-Anderson Any ideas on this?

[2018-07-02 18:51] ajcvickers commented on #798
Blog link: https://blogs.msdn.microsoft.com/dotnet/2018/05/30/announcing-entity-framework-core-2-1/

@richlander Can you give access to @divega so he can fix this in the blog?

[2018-07-02 19:00] bricelam commented on #802
http://ewsoftware.github.io/XMLCommentsGuide/html/16cdb957-a35b-4c17-bf5e-ea511b0218e3.htm#ExternalRef

[2018-07-02 23:07] Rick-Anderson commented on #796
@xsqian  Where exactly in the tutorial did you get that error?

we've had this reported several times but I haven't been able to reproduce the problem.

What has helped in the past:

* Update VS to the latest version (if you're using VS)
* Make sure you have the .NET Core SDK 2.1 installed (run `dotnet --version` and output should be >= 2.1.300
* If that fails repair .NET SDK and VS

@seancpeters

[2018-07-03 15:27] adamburgess opened #804 "Ignored includes: show a query that uses blog.Posts"
The example currently only shows that the blog posts are ignored because of an optimisation (Posts aren't used in the anonymous type)
I think this should section should be extended to show that even when they *are* used, it still won't work, e.g. :
[code]
HighlyRatedPosts will be evaluated lazily in this case
Here's one issue I think that is talking about this: https://github.com/aspnet/EntityFram

[2018-07-03 16:01] ajcvickers commented on #791
Note: also reference this from conceptual reverse engineering docs.

[2018-07-03 16:03] ajcvickers commented on #797
Added a note to https://github.com/aspnet/EntityFrameworkCore/issues/4693, which is where support for temporal tables is being tracked.

[2018-07-03 16:03] #797 closed

[2018-07-03 16:07] ajcvickers commented on #803
@SimonCropp Thanks for suggesting this--I moved the issue to https://github.com/aspnet/EntityFrameworkCore/issues/12537 since it requires changes to the build.

[2018-07-03 16:07] #803 closed

[2018-07-03 17:28] ajcvickers commented on #804
@adamburgess This:
[code]
doesn't require an Include call. Projection of navigation properties is independent of Include.

[2018-07-03 18:07] #804 closed

[2018-07-04 01:56] yamazaroon commented on #796
I receive this same exact error when performing the "Create a Controller" step:
https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/existing-db#create-a-controller

After performing these steps:
Right-clicking on the controller folder
Selecting the MVC Controller with views, using Entity Framework option
Selecting the model class and Data context class
After clicking the "Add" button,

[2018-07-04 03:16] Rick-Anderson commented on #796
@yamazaroon  can you try the steps I've outlined above  - starting with `dotnet new webapp -o ContosoUniversity`

[2018-07-04 08:56] mrward opened #805 "ConsoleApp.SQLite.csproj missing Microsoft.EntityFrameworkCore.Design PackageReference"
The ConsoleApp.SQLite.csproj content displayed on the page - https://docs.microsoft.com/en-us/ef/core/get-started/netcore/new-db-sqlite - section `ConsoleApp.SQLite.csproj should now contain the following:` does not include the 'Microsoft.EntityFrameworkCore.Design' package reference whilst the previous step shows it being added from the command line with 'dotnet add package'. Copying and pasting

[2018-07-04 15:36] Rick-Anderson commented on #805
@mrward  this tutorial is out of date for .NET Core SDK 2.1

The correct *ConsoleApp.SQLite.csproj*

[code]

Skip the step  Manually edit `ConsoleApp.SQLite.csproj` to add a DotNetCliToolReference to Microsoft.EntityFrameworkCore.Tools.DotNet:

[2018-07-04 15:44] mrward commented on #805
Was following the steps to try and reproduce a bug filed against VS Mac for this tutorial where the user did not have 2.1 installed. I can see that there are some existing GitHub issues about updating the content for .NET Core 2.1 so maybe this can be closed?

[2018-07-04 16:10] Rick-Anderson commented on #805
@mrward  see #806 which is updated for the latest .NET Core SDK

[2018-07-04 16:50] #805 closed

[2018-07-04 22:49] jholovacs opened #807 "How to do a migration with published code?"
I keep getting told the project can't be found.  Why is the project necessary?  The code is contained in the dlls.  How do I take my published code as an artifact and run the database update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263f21d6-6edc-7582-e0e2-fa1c9670bcc0
* Version Independent ID: b3dd8c84-18b1-f98d

[2018-07-05 13:02] akamud opened #809 "Include sample for navigation with Query Types"
Reading the documentation it wasn't very clear to me what kind of scenarios Navigation with Query Types are supported.

@julielerman raised this issue [here](https://github.com/aspnet/EntityFrameworkCore/issues/11971), and a few annotations have been made to the documentation ([here](https://github.com/aspnet/EntityFramework.Docs/pull/698/files)) but I don't think this is clear enough.

We could h

[2018-07-05 14:00] codekoenig commented on #691
Looking forward to "official" guidelines.

Until then, here's what I'm doing which i find to be a quite nice and straightforward solution without creating an additional console app:

- Adding `DotNetCliToolReference` to NuGetPackage `Microsoft.EntityFrameworkCore.Tools.DotNet`
- In my **Build**, I add an additional .NET Core task where I use the custom command `ef` with the following arguments: `m

[2018-07-05 15:02] markusschaber commented on #793
It's defined in the linked complete sampel code on GitHub, but I've also been confused by how the article itself skips over this detail... :-(

[2018-07-06 09:12] zackshine commented on #796
I met this problem today,and I changed the version of Microsoft.AspNetCore.All in .csproj file then it worked in asp.net core 2.1.

  <PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.All" Version="2.1.0" />
    <PackageReference Include="Microsoft.EntityFrameworkCore.SqlServer" Version="2.1.1"

[2018-07-06 11:21] hulvei3 opened #813 "Implicit convertion doesn't work when used in inline entity buildAction"
When using a implicit EnumToStringConverter (`.HasConversion<MyEnum>()`) I'm getting this error when running dotnet ef migrations commands:

    The property <PROP> is of type <TYPE> which is not supported by current database provider.
    Either change the property CLR type or ignore the property using the '[NotMapped]' attribute or by
    using 'EntityTypeBuilder.Ignore' in 'OnModelCreating'.`

[2018-07-06 11:25] caztial opened #814 "Document pitfalls of migrating database when application starts"
Need more code examples to understand how to use the migrations at runtime

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e28b0a8-b7e4-4c07-9e60-0df403bbee28
* Version Independent ID: 12300b31-6f7b-b75c-970d-693365e77013
* Content: [Migrations - EF Core](https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrat

[2018-07-06 15:54] Rick-Anderson commented on #796
@zackshine  using M.A.All is discouraged. See https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage?view=aspnetcore-2.1

[2018-07-06 16:20] ajcvickers opened #815 "Consider adding a more advanced many-to-many case."
For example:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24b2b50e-35f8-9e0b-8ce5-840e1ea816e6
* Version Independent ID: 9e0e6e2c-48fa-76c3-3bd9-813a6df22645
* Content: [Relationships - EF Core](https://docs.microsoft.com/en-us/ef/core/modeling/relationships)
* Content Source: [entity-framework/core/modeling/r

[2018-07-06 16:28] ajcvickers commented on #813
@hulvei3 This looks like an issue with the product rather than the docs. Please file an issue at https://github.com/aspnet/EntityFrameworkCore/issues containing a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2018-07-06 16:28] #813 closed

[2018-07-06 18:01] dbiehle commented on #796
I encountered the same error at the Create a Controller step (see @yamazaroon 's comment above) and tried the steps @Rick-Anderson suggested:
* Checked that .NET Core SDK 2.1 is 2.1.3
* Ran a Repair on VS
* Checked that my ContosoUniversity app worked properly (I already had this project, created from a different tutorial)
None of these solved the issue, so I deleted the project and re-ran this tu

[2018-07-09 19:20] bricelam opened #822 "Add EF Core to the Xamarin docs"
Can we get EF Core added to the [Xamarin.Android Data Access](https://docs.microsoft.com/en-us/xamarin/android/data-cloud/data-access/) and [https://docs.microsoft.com/en-us/xamarin/ios/data-cloud/data/](https://docs.microsoft.com/en-us/xamarin/ios/data-cloud/data/) pages?

[2018-07-09 19:24] ALEITZINGER commented on #822
Also please update https://docs.microsoft.com/en-us/xamarin/android/data-cloud/data-access/using-adonet?tabs=vswin    with Microsoft.data.sqlite project status relative to Mono.data.sqlite

[2018-07-10 14:08] bayangan commented on #793
I found the sample code in https://github.com/aspnet/EntityFrameworkCore/tree/master/samples/QueryTypes

[2018-07-10 20:45] Rick-Anderson commented on #794
@divega do you want this updated or redirected to https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/intro

[2018-07-10 21:37] StillLearnin opened #827 "incorrect links"
Two APIs are marked as obsolete but the links to what we should use instead simply take us to the obsolete APIs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e9c2511-ca2d-999e-dcb9-25a46ba085c3
* Version Independent ID: c5804fd3-45b3-223a-c2be-f40386915fc2
* Content: [InMemoryDbContextOptionsExtensions.UseInMemoryDat

[2018-07-10 23:59] divega commented on #827
This issue was moved to aspnet/EntityFramework.ApiDocs#24

[2018-07-10 23:59] #827 closed

[2018-07-11 00:03] rgamage opened #828 "Document how EF and database cascade behaviors work together"
This entire article is about the impact of various OnDelete behaviors, but nowhere on this page is any instruction or example of how to set up / configure this behavior!  This is essential information.  We need examples, like:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ed1b8a1-fa32-e147-ae0f-76b3620473f9
*

[2018-07-11 14:48] Mastermindzh opened #830 "The extension method for creating the user doesn't return a valid value on all code paths"
The extension method for creating the user doesn't return a valid value on all code paths

You might want to add a default case or return the default builder at the end of the method like I've done below:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13eb107-79c2-7824-12c1-e637d2a92add
* Version Independent I

[2018-07-11 21:09] thomb1 opened #834 "Canonical example - Visual Studio 2017 SQLite EF6 example without using App.Config"
It would be good to have a canonical example that shows very simple implementation.  The idea behind EF6 is very simple and the examples should be presented that way. You don't teach poetry to 1st graders, so show the bone simple way to do things - no fancy constructors, subclassing, don't even use Using( ) constucts. etc etc. Just stone axe least amount of code possible simple. Step 1: Set the EF

[2018-07-11 21:10] ErikEJ commented on #834
The SQLite provider does not support Code First migrations

[2018-07-11 21:34] thomb1 commented on #834
Hi Erik,
Thank you for the fast reply!  For my particular needs: I have base set of tables /classes that I need to clone  from a template + I want some degree of “scriptability” afterwards.  I can accomplish what EF6 /codefirst was going to give me , I can handle with a bespoke SQL generator + .NET’s tricks for “auto-understanding” classes + Roslyn for the scripting.

Speaking for just for me, tha

[2018-07-11 22:14] Rick-Anderson commented on #794
![image](https://user-images.githubusercontent.com/3605364/42601992-d78f2dbe-8524-11e8-8e36-57f8a64dd260.png)

We were under the impression `EnsureCreated` is OK early in development before the first deployment. The tutorial does several migrations as things progress. Is that OK or should we scrap `EnsureCreated`  ASAP?

on points 2 & 3, I think it's better to update this doc and make it xplat. We

[2018-07-12 10:31] Nujke opened #835 "The sample link is wrong"
The link to the sample (https://github.com/aspnet/EntityFrameworkCore/tree/dev/samples/QueryTypes) returns a 404.
I believe the right link is https://github.com/aspnet/EntityFrameworkCore/tree/master/samples/QueryTypes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ace630fc-7310-10b7-39bb-26fcfe3f3950
* Version Indepen

[2018-07-12 15:28] jrichview opened #836 "This scaffolds the entire database. What about selecting specific tables or objects?"
One selling point of EF core is that it's lightweight.  In addition to the obvious benefits of that, one might choose to use this for a task where one is only concerned with a few specific tables in a much larger database. Is it really necessary to scaffold my entire database to use this thing? Maybe a small blurb to address this question?

---
#### Document Details

⚠ *Do not edit this section. I

[2018-07-12 22:29] valentin1402 opened #837 "Warn about the many limitations of SQLite for testing purposes"
A word of warning on the many limitations of SQLite would be welcome. It doesn't bode well in many environments when it comes to things like usage of GetDate(), Altering/Renaming columns, Migrations, etc...

That would be a time-saver to learn ahead of time if Unit Testing with SQLite is going to fit your project or if you need to look for a different options.

---
#### Document Details

⚠ *Do not

[2018-07-14 00:42] joe-oli opened #838 "Eager Loading - Include Syntax - is it a guarantee or hint ?"
It should be stated somewhere prominent near the Eager Loading section whether the .Include syntax is a guarantee that EF will load associated relationships, or is it merely a hint?

I've noticed different behaviour at different times, sometimes the root entity had relationships (navigation properties) loaded, at other times not (count was 0 for associated entities). Under what circumstances it WI

[2018-07-14 00:49] speciesunknown opened #839 "You can't have computed datetime columns."
The premise of this documentation is that SQLite behaves like a relational database but its more or less guaranteed that it doesn't behave like the one you are using in production. I was forced to abandon sqlite as a test analogue because you can't have computed datetime columns.

There are multiple limitations which make SQLite in memory non viable:
https://docs.microsoft.com/en-us/ef/core/provid

[2018-07-14 18:25] VPeruS opened #840 "Incorectly rendered sentence"
Last sentence's two word appears on next line, this create huge gap between `application's` word and `Main`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fa64390-1232-8dd3-f170-7d5c68e29ad9
* Version Independent ID: 245bbba8-3102-4a66-15eb-650e05eb9e62
* Content: [Design-time DbContext Creation - EF Core](https://doc

[2018-07-14 19:28] joelbenford commented on #796
The comment system my csproj as html. Here it is with the angle brackets converted to curly braces...
{Project Sdk="Microsoft.NET.Sdk.Web"}

  {PropertyGroup}
    {TargetFramework}netcoreapp2.1{/TargetFramework}
  {/PropertyGroup}

  {ItemGroup}
    {PackageReference Include="Microsoft.AspNetCore.App" /}
    {PackageReference Include="Microsoft.EntityFrameworkCore.SqlServer" Version="2.1.0" /}

[2018-07-14 20:36] Rick-Anderson commented on #796
@joelbenford add version to M.A.App

{PackageReference Include="Microsoft.AspNetCore.App"  Version="2.1.0" /}

but 2.1.1

[2018-07-15 11:43] ajcvickers commented on #840
@VPeruS which browser and OS?

[2018-07-15 11:52] VPeruS commented on #840
Firefox 61 + linux.
![default](https://user-images.githubusercontent.com/7927055/42733664-3b43aeb8-883e-11e8-93e0-5dddb9c6e3e4.png)
And from IE
![default](https://user-images.githubusercontent.com/7927055/42733684-8e38bae6-883e-11e8-8144-dae3eba82387.png)

Should be because fixed-length lines.

[2018-07-15 15:50] #840 closed

[2018-07-15 15:51] divega commented on #840
There were actually extra spaces there. In markdown two spaces is a line separator.

[2018-07-15 15:53] divega commented on #840
The fix will make it to live later. Thanks @VPeruS.

[2018-07-17 02:44] MadKonst opened #842 "Broken link"
"You can view this article's sample on GitHub."
https://github.com/aspnet/EntityFrameworkCore/tree/dev/samples/QueryTypes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ace630fc-7310-10b7-39bb-26fcfe3f3950
* Version Independent ID: dbe96b32-0589-0f8c-6558-11a065d84dff
* Content: [Query Types - EF Core](https://docs.mic

[2018-07-17 02:44] MadKonst commented on #842
Duplicate

[2018-07-17 02:44] #842 closed

[2018-07-17 14:00] jzabroski opened #844 "Update Cascade Delete documentation's delete scenario table to explain interaction with lazy loading and proxies"
As discussed in https://github.com/aspnet/EntityFramework.Docs/pull/810
It isn't obvious how Cascade Delete interacts with lazy loading and proxies.

[2018-07-17 15:34] dovidW opened #845 "I have a problem:"
Cannot open database "MyDatabase" requested by the login. The login failed.  Login failed for user 'DESKTOP-XXX\admin'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b15cd4c-9cba-c0e2-7618-7d621a3c5936
* Version Independent ID: f4681bc6-57be-6e69-cad9-776ce64d93bd
* Content: [Quick Overview - EF Core](https://docs.mi

[2018-07-17 20:34] whizkidwwe1217 opened #846 "Documentation on using a separate project for migrations not very clear and hard to follow"
Please make the documentation a bit clearer and provide a full sample code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b545eeff-6c33-3cc0-09ce-a3ad342d7438
* Version Independent ID: 34bc1bac-7338-d8ab-390d-8c5e88a48c10
* Content: [Migrations with Multiple Projects - EF Core](https://docs.microsoft.com/en-us/ef/core

[2018-07-18 14:56] spatialbridge opened #847 "EF Core: update the documenation on how to write a provider"
Hi, I'm trying to get my head around writing a custom EF Core provider. I'm looking at the EF Core codebase and the blog post by Arthur Vickers as suggested. However, I don't see the correlation between the blog post and the codebase.

For example, the first step in the blog indicates to implement IDatabaseProviderServices. However, a search of the solution yields no results for IDatabaseProviderS

[2018-07-18 18:50] drk-mtr opened #848 "I think it would be good to mention the required namespace(s) here"
e.g. `System.ComponentModel.DataAnnotations`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3437af67-630b-d28f-7fbd-3eedf647f22a
* Version Independent ID: 6c44f987-19a7-c256-e8fa-10378e61cf6e
* Content: [Creating a Model - EF Core](https://docs.microsoft.com/en-us/ef/core/modeling/)
* Content Source: [entity-framework/

[2018-07-18 20:40] MisinformedDNA commented on #847
I think Arthur's post is from EFCore 1.X, because I have also found no existence of any DatabaseProviderServices.

Looking at code is probably the way to go now. I'm going to try and follow the step by step creation of the [Cosmos DB provider](https://github.com/aspnet/EntityFrameworkCore/issues/8443).

Out of curiosity, for what database are you writing a provider? I was looking at doing Azure Ta

[2018-07-18 20:56] ErikEJ commented on #847
Please notice there are big differences between writing a Relational provider and a non-relational provider. I am in the process of writing a Relational provider, and you may find the commit story and currently tiny provider codebase helpful. The provider does not currently implement Migrations or Scaffolding or Model extensions, which helps keeping it small, but it can create databases and tables

[2018-07-19 11:21] MohammadMQ opened #849 "State change events"
You guys really need to write more about how to use the: State change events
It is really a much needed feature that completes the override savechanges method. With State change events it has become possible to intercept all CRUD related queries

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05d786fb-de7d-de13-7989-c29

[2018-07-19 12:12] spatialbridge commented on #847
@MisinformedDNA Thanks, Dan. I'll take a look at it.

[2018-07-19 12:13] spatialbridge commented on #847
@ErikEJ Hi Erik. Yes, I'm looking to implement a relational provider. Just the basics such as you've implemented so far will be good enough to get me started. Which project should I be looking at?

[2018-07-19 13:16] davidsk opened #850 "Incorrect link for sample ef core provider for oracle"
link is to https://github.com/aspnet/EntityFrameworkCore/blob/dev/samples/OracleProvider/README.md which returns 404, however https://github.com/aspnet/EntityFrameworkCore/blob/master/samples/OracleProvider/README.md seems to work okay

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9338b2a-93b1-595a-2e8e-86119e6eecbd

[2018-07-19 20:52] vmkbagci commented on #828
I have a question regarding the necessity of using Include(), ThenInclude() while retrieving the entity to delete.

Say I have a School with many Students and Student reference School back through a Foreign Key in the DB.

If I do,

var school = context.Schools.FirstOrDefault(s => s.Id == 1);

and then try to use context.Remove(school), it fails, throwing an exception about violation of Foreign Ke

[2018-07-20 00:50] ErikEJ commented on #847
This one https://github.com/GibraltarSoftware/VistaDB.EFCore (develop branch)

[2018-07-20 09:44] spatialbridge commented on #847
Excellent! Thank you, @ErikEJ.

[2018-07-20 14:23] MisinformedDNA commented on #847
Back to the OP, the documentation needs to be updated to either not mention @ajcvickers post, or add a note of caution that it's for an old, incompatible version.

[2018-07-20 18:38] axdiamond commented on #845
The account you are running Sql server as doesn't have permissions to create a database in the location you selected. You could get around this by running the sql sever agent ( not management studio ) as an account that has permissions to write to that directory.

However, you probably don't want to put your DB in `C:\Users\`, so instead of the above Id recommend putting it under another folder on

[2018-07-20 21:15] divega opened #851 "Setup binding redirects for old EF6 docs"

[2018-07-20 23:03] divega opened #852 "Document what happens on entity state changes"
_From @Wain123 on July 11, 2018 14:29_

When I manually set the state of an entity to Unchanged, the CurrentValues automatically get set to be equal to the OriginalValues. This makes sense but isn't documented in EntityEntry.State metadata.

Are there any other undocumented side effects of setting EntityEntry.State that I might have missed?

_Copied from original issue: aspnet/EntityFrameworkCore#

[2018-07-20 23:03] divega commented on #852
@Wain123 I cannot think of any other side effects that could be unexpected. I am going to move this issue to our documentation repo so that we can track adding conceptual topics about managing state with these APIs.

[2018-07-22 13:11] samaune opened #855 "Can we include a sample in API documentation for Find?"
Writing too many line with meaning less, it should attach a sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 681bc5c0-cca6-1811-ec3b-93742747e838
* Version Independent ID: c439f4b8-4edd-6faa-56a7-0779d46c3d99
* Content: [DbContext.Find Method (Microsoft.EntityFrameworkCore)](https://docs.microsoft.com/en-us/dotne

[2018-07-22 21:26] AndriySvyryd opened #856 "Document how to share the same FK in derived types"
See https://github.com/aspnet/EntityFrameworkCore/issues/12743

[2018-07-23 03:25] alemag1986 opened #857 "Update-Database with specific connection string"
I can't find a way of updating my database in all the different environments that my app runs.
Can you please provide some documentation in how to achieve this?
I've several appsettings and I need to be able to run Update-Database on each environment. Thx!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e28b0a8-b7e4-4c

[2018-07-23 05:29] kotikavoori opened #858 "Is this document updated for EF Core 2.1 ? Or is there any other reference for EF VS EF Core 2.1 ?"
i want to know similar differences between EF VS EF Core 2.1[latest available version], any references ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fc2d1a4-a434-69f9-3df3-9818c571c978
* Version Independent ID: a272636c-100d-fb7b-d7a9-713adc0b2b8e
* Content: [EF Core & EF6 Feature by Feature Comparison](https://doc

[2018-07-23 13:33] NetTecture commented on #768
That is a seriously lacking design. I have to write an API where we have 3 optional filters per object. That is 8 combinations. 8 methods instead of 3 - that is nearly 3 tiem the work.

[2018-07-23 21:58] kduenke opened #859 "Only in Development Environment?"
Is there a recommended way to only seed data when it's a development environment (i.e. ASPNETCORE_ENVIRONMENT = Development)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc418ab9-0592-f610-e751-40cb501220da
* Version Independent ID: 822e8923-2647-f573-0c74-66af903776d8
* Content: [Data Seeding - EF Core](https://doc

[2018-07-23 22:37] kduenke commented on #857
@alemag1986 It works much like web config transforms worked in the past.  Maybe this will help you understand how this works...
https://stackoverflow.com/questions/48913968/net-core-2-entity-framework-update-database-of-different-environment

In the same vein, it'd be nice to be able to drive settings through launchSettings.json as well.  Is this possible today?

[2018-07-23 22:40] AndriySvyryd commented on #859
`HasData` is for seed data that you need to manage using migrations, so for test, development and staging it's best to just clean the database and insert the data normally.

[2018-07-23 22:40] #859 closed

[2018-07-24 08:56] thomasdc opened #860 "Elaborate on concurrency tokens in detached use cases"
When you're updating an entity in a detached situation (e.g. MVC or SPA) and want to make use of a concurrency token, it's important to set the OriginalValue of a concurrency token to the CurrentValue as mentioned on https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/concurrency?view=aspnetcore-2.1&tabs=visual-studio. It took me several hours to realise this. It might help others if this situ

[2018-07-24 18:15] ajcvickers commented on #828
@rgamage The API is documented here: https://docs.microsoft.com/en-us/ef/core/modeling/relationships#cascade-delete-1 but I agree this should be easier to find from this page.

@vmkbagci  Usually this is handled using cascade delete setup in the database. By default, Migrations will create a database that has cascade deletes configured. This means that dependents will be deleted by the database wh

[2018-07-24 21:35] divega opened #861 "EF Core: Document ExecuteSqlCommand for"
Raw SQL documentation focuses only on FromSql.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e1289d5-8364-18a4-3445-6bba05c6854b
* Version Independent ID: 2680e647-f64a-7991-f821-3b5e2a845960
* Content: [Raw SQL Queries - EF Core](https://docs.microsoft.com/en-us/ef/core/querying/raw-sql)
* Content Source: [entity-fr

[2018-07-25 15:50] ajcvickers commented on #838
@joe-oli It's always will, never a hint. However, note that, "If you change the query so that it no longer returns instances of the entity type that the query began with, then the include operators are ignored."

If you are seeing behavior that is different from this, then please create a runnable project/solution or complete code listing that demonstrates this behavior and file a new issue on htt

[2018-07-25 15:50] #838 closed

[2018-07-25 15:53] ajcvickers commented on #839
Thanks for the feedback.  Whether or not SQLite works for you or not depends what you are trying to test. If the code is largely database agnostic and just needs to get data from somewhere, then in-memory is a good choice. If the code depends on relational concepts, like transactions, but is largely agnostic to the specific relational database engine, then SQLite in-memory might be better. If the

[2018-07-25 16:47] #845 closed

[2018-07-25 16:51] ajcvickers commented on #846
@whizkidwwe1217 Can you provide some details as to where it was unclear and/or hard to follow?

[2018-07-25 16:54] ajcvickers commented on #847
@MisinformedDNA Updating the docs is on my list, but unfortunately not very near the top. I will get to it as soon as I can.

[2018-07-25 16:59] ajcvickers commented on #848
Duplicate of #729

[2018-07-25 16:59] #848 closed

[2018-07-25 18:45] speciesunknown commented on #839
Thanks for the reply. That's a good statement there, I would say it needs to be prominent in the introduction of the document. I think the crux of the issue is that sqlite in memory is only a good test analogue if the system is already using it.

[2018-07-26 20:42] bricelam commented on #857
Blocked on dotnet/cli#9730

[2018-07-27 00:01] alemag1986 commented on #857
@kduenke thanks for the answer, yup I end up changing the NuGet Environment:
`$env:ASPNETCORE_ENVIRONMENT='my-environment'`

[2018-07-27 03:14] binhghi5 opened #862 "Ensure key (relational/non-relational/primary/alternate/etc.) documentation is easy to find"
This one https://docs.microsoft.com/en-us/ef/core/modeling/keys
And this one https://docs.microsoft.com/en-us/ef/core/modeling/relational/primary-keys
What is the different between keys (primary) and primary-keys?
The content in 2 links above is different. Why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a38fe8f-c6

[2018-07-27 19:07] julielerman opened #863 "List of methods that call detectchanges?"
would be nice to see here. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7127791e-ded3-83b4-dbf0-ac332c91c10a
* Version Independent ID: 00d6bb6c-78cd-dfc3-83ad-20484fe7beb8
* Content: [ChangeTracker.DetectChanges Method (Microsoft.EntityFrameworkCore.ChangeTracking)](https://docs.microsoft.com/en-us/dotnet/api

[2018-07-27 19:21] julielerman commented on #863
digging through github repo, maybe it's truly only SaveChanges. I recall that being a big change from EF6 to save the waste of resources from the old days of calling it from add, attach, etc. But I thought there were still some other methods that triggered it. Maybe I'm wrong. Either way, I had to go look through the repository to clarify this.

[2018-07-27 23:33] zxs731 opened #864 "Why we use private constructor for ILazyload injection"
This issue tracker is for ***documentation***

For ***product*** issues, use https://github.com/aspnet/EntityFramework/issues

[2018-07-28 09:34] zxs731 opened #865 "Question: Why we use the private constructor to inject the ILazyloader? not public?"
Why we use the private constructor to inject the ILazyloader? not public?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbd36f35-e257-d0ed-8f28-f539ddcb71ec
* Version Independent ID: 093903d5-f7c7-5a78-c0e5-0e2662dcedef
* Content: [Loading Related Data - EF Core](https://docs.microsoft.com/en-us/ef/core/querying/relat

[2018-07-28 18:02] albertbori opened #866 "Fails to mention required default constructor"
&gt; AddDbContext was called with configuration, but the context type 'MyContext' only declares a parameterless constructor. This means that the configuration passed to AddDbContext will never be used

Requires:

    public MyContext(DbContextOptions&lt;MyContext&gt; options) : base(options) { }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-07-29 01:55] Cloudmersive opened #867 "Useless"
Nobody uses localdb.  You need to show other actually-useful examples like, SQL Server.  Worst docs ever

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de9db02d-7310-1141-6aeb-539c02326a36
* Version Independent ID: 90062036-aa01-3f73-dac9-b4a092245721
* Content: [Connection Strings - EF Core](https://docs.microsoft.com

[2018-07-30 16:48] ajcvickers commented on #865
@zxs731 Two reasons:
* To demonstrate that it can be private
* Because ILazyLoader is a persistence concern only needed for this particular implementation of lazy loading. It is not part of the business/domain model. Therefore, one way of hiding this from the normal use of the domain model is to make it private.

[2018-07-30 16:48] #865 closed

[2018-07-30 16:48] ajcvickers commented on #864
Duplicate of #865

[2018-07-30 16:48] #864 closed

[2018-07-30 22:30] ajcvickers commented on #865
@zxs731 That's a valid position, but lazy-loading _must_ modify the behavior of the entity in some way to work. EF Core also supports proxies, which impacts the entity's behavior in a different way that you may prefer. If neither are acceptable, then the only option is to not use lazy loading.

[2018-07-31 12:40] skimlik opened #869 "Broken link"
GitHub sample link is not working
https://github.com/aspnet/EntityFrameworkCore/tree/dev/samples/QueryFilters

---
#### Відомості про документ

⚠ *Не змінюйте цей розділ. Він необхідний для зв’язування питань на платформах docs.microsoft.com ➟ GitHub.*

* ID: b7c9bd3e-4b99-9acf-48d8-e47bc53eb54e
* Version Independent ID: 220e0a6c-d227-956a-d27a-7c88804f770c
* Content: [Global Query Filters - EF Co

[2018-07-31 22:31] zxs731 opened #873 "Support sub query in computed column mapping?"
Can we map as this when we have sub query?
 .HasComputedColumnSql("select top 1 address.[zipcode] + ', ' + address.[details] from address where [addressId]=address.id");
    }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d48c064-a896-af4b-9a32-7846e848bb9e
* Version Independent ID: 7d134bc7-7c34-a829-2a56-9ad6ea3701

[2018-07-31 22:36] ajcvickers commented on #873
@zxs731 The text passed to HasComputedColumnSql is opaque to EF, so if that works on SQL Server (or whatever database engine you are using) then it should work with EF.

[2018-07-31 22:36] #873 closed

[2018-07-31 22:56] #835 closed

[2018-07-31 22:56] #869 closed

[2018-07-31 23:03] divega commented on #660
This is done. Need to finish https://github.com/aspnet/EntityFramework.Docs/issues/851.

[2018-07-31 23:03] #660 closed

[2018-07-31 23:50] divega commented on #861
Duplicate of https://github.com/aspnet/EntityFramework.Docs/issues/665.

[2018-07-31 23:50] #861 closed

[2018-08-01 00:37] divega commented on #717
If we end up replacing the ASP.NET Core walkthroughs with existing ASP.NET Core walkthroughs we should keep this suggestion in mind.

[2018-08-01 00:47] divega commented on #847
Duplicate of https://github.com/aspnet/EntityFramework.Docs/issues/681.

[2018-08-01 00:48] divega commented on #849
Duplicate of https://github.com/aspnet/EntityFramework.Docs/issues/661.

[2018-08-01 00:49] divega commented on #792
Duplicate of https://github.com/aspnet/EntityFramework.Docs/issues/661.

[2018-08-01 00:55] #850 closed

[2018-08-01 00:59] divega commented on #858
Yes, it is updated.

[2018-08-01 00:59] #858 closed

[2018-08-01 01:02] divega commented on #510
Closing in favor of https://github.com/aspnet/EntityFrameworkCore/issues/11702

[2018-08-01 01:02] #510 closed

[2018-08-01 01:40] divega opened #874 "Make cascade delete documentation more helpful"
Feedback says it isn't.

[2018-08-01 01:41] divega commented on #874
Will create an issue directly from the page.

[2018-08-01 01:41] #874 closed

[2018-08-01 01:42] divega opened #875 "Make cascade delete topic more helpful"
Helpfulness rating is very low.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ed1b8a1-fa32-e147-ae0f-76b3620473f9
* Version Independent ID: 10ce2d9f-8284-a509-5fed-669abfb9d8ae
* Content: [Cascade Delete - EF Core](https://docs.microsoft.com/en-us/ef/core/saving/cascade-delete)
* Content Source: [entity-framework/cor

[2018-08-01 01:43] divega opened #876 "Make configuring dbcontext top more helpful"
Helpfulness rating is very low.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47bf610-692d-9d40-d85f-aec1e2a87a07
* Version Independent ID: 3c94634a-4b17-bc13-7436-0c61aea03ab6
* Content: [Configuring a DbContext - EF Core](https://docs.microsoft.com/en-us/ef/core/miscellaneous/configuring-dbcontext)
* Content Source

[2018-08-01 01:44] divega opened #877 "Make dotnet cli topic more helpful"
Helpfulness rating is very low.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263f21d6-6edc-7582-e0e2-fa1c9670bcc0
* Version Independent ID: b3dd8c84-18b1-f98d-64f1-7897d1482692
* Content: [.NET Core CLI - EF Core](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet)
* Content Source: [entity-framework/c

[2018-08-01 01:45] divega opened #878 "Document when indexes are clustered or not"
Helpfulness rating is very low.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f85ea32c-8d23-d61d-6036-cd772e3e95d9
* Version Independent ID: 25dd8ac4-2521-5200-0ddf-63ac8c83787a
* Content: [Indexes - EF Core](https://docs.microsoft.com/en-us/ef/core/modeling/indexes)
* Content Source: [entity-framework/core/modeling/i

[2018-08-01 01:46] divega opened #879 "Make installing EF Core topic more helpful"
Helpfulness rating is very low.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5747ad3-edd5-1977-883c-2cf77112306c
* Version Independent ID: d66d0616-2aa2-8be4-5ab6-24201ef00b59
* Content: [Installing EF Core](https://docs.microsoft.com/en-us/ef/core/get-started/install/)
* Content Source: [entity-framework/core/get-s

[2018-08-01 01:47] divega opened #880 "Make EF Core and EF6 comparison topic more helpful"
Helpfulness rating is very low.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0036f8c5-d838-69a5-cc09-dc74df09bc07
* Version Independent ID: 5335749f-e32f-979f-7139-f5f14373e283
* Content: [Compare EF Core & EF6](https://docs.microsoft.com/en-us/ef/efcore-and-ef6/)
* Content Source: [entity-framework/efcore-and-ef6/in

[2018-08-01 01:48] divega opened #881 "Make getting started with SQLite topic more helpful"
Helpfulness rating is very low.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adb04585-f54b-70c0-e847-b044b388a4d5
* Version Independent ID: 5e37f568-0621-a082-c75a-d2adf94dce8d
* Content: [Getting Started on .NET Core - New database - EF Core](https://docs.microsoft.com/en-us/ef/core/get-started/netcore/new-db-sqlite

[2018-08-01 01:49] divega opened #882 "Make data seeding topic more helpful"
Helpfulness rating is very low.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc418ab9-0592-f610-e751-40cb501220da
* Version Independent ID: 822e8923-2647-f573-0c74-66af903776d8
* Content: [Data Seeding - EF Core](https://docs.microsoft.com/en-us/ef/core/modeling/data-seeding)
* Content Source: [entity-framework/core/

[2018-08-01 01:53] divega opened #883 "Make alternate keys topic more helpful"
Helpfulness rating is very low.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2799173-ee3e-5650-14a8-b9185d45f730
* Version Independent ID: 36181ef7-bcb6-62a8-653d-3b89c8a11dd8
* Content: [Alternate Keys - EF Core](https://docs.microsoft.com/en-us/ef/core/modeling/alternate-keys)
* Content Source: [entity-framework/c

[2018-08-01 01:53] Rick-Anderson commented on #881
9.2 KPV last month. Only 3 ratings so not statistically significant. @tdykstra  or myself will do a pass and see if we can get better reviews.

[2018-08-01 01:54] divega opened #884 "Make testing with SQLite topic more helpful"
Helpfulness rating is very low.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4f7b56f-7f91-2f15-1fb6-4f481e97534f
* Version Independent ID: 6d9c65c6-f159-b234-48fd-f25da05f0f32
* Content: [Testing with SQLite - EF Core](https://docs.microsoft.com/en-us/ef/core/miscellaneous/testing/sqlite)
* Content Source: [entity-f

[2018-08-01 01:54] divega opened #885 "Make history table topic more helpful"
Helpfulness rating is very low.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 390f9258-6f7c-dbe8-3e79-c83446ba6192
* Version Independent ID: 38896138-0566-d481-2c91-8158f6d8f274
* Content: [Custom Migrations History Table - EF Core](https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/history-table)
*

[2018-08-01 02:11] divega commented on #881
This could be related to the fact SQLite is common for Xamarin o UWP (I don't think many are building .NET Core console apps), and those require additional workarounds (which are covered in other topics).

[2018-08-01 08:37] Code-ScottLe commented on #748
What is the status for this one? I am currently seeing a lot of mixed says in this (whether we need the `GenerateRuntimeConfigurationFiles` or not, or even modifying the `.csproj` [with additional targeting framework](http://thedatafarm.com/data-access/the-secret-to-running-ef-core-2-0-migrations-from-a-net-core-or-net-standard-class-library/) that isn't mentioned anywhere in the official docs.

T

[2018-08-01 20:16] sputier commented on #399
I'd like to give it a try 😄

[2018-08-02 17:03] Alleno commented on #878
I'd like to understand what EF uses to build a clustered index. I heard that you shouldn't use a Guid for a clustered index, but does EF automatically create a clustered index using the primary key?

[2018-08-02 18:02] whizkidwwe1217 commented on #846
@ajcvickers I have a hard time understanding step 5. Does it mean I should reference the Migrations assembly to the Startup project?

[2018-08-03 15:22] tdykstra opened #888 "Update ASP.NET Core existing db tutorial for .NET Core 2.1"
Update the tutorial and add enhancements suggested in other feedback issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 998197fe-077b-acee-c91c-12f074359e9e
* Version Independent ID: 7542e87e-8f99-9b91-6df1-6983776ad1d2
* Content: [Getting Started on ASP.NET Core - Existing Database - EF Core](https://docs.microsof

[2018-08-03 17:49] Rick-Anderson commented on #796
Closing. You get this error when you don't have the current .NET Core SDK installed.

[2018-08-03 17:49] #796 closed

[2018-08-03 18:53] VirMaker opened #891 "Documentation is missing some information on computed columns"
I was trying to use HasComputedColumnSql without migrations enabled, it didn't work. Found this SO post https://stackoverflow.com/questions/39306020/computed-column-in-ef-core-incorrect-mapping
which says that computed columns are only supported when migrations are enabled.
In my case HasComputedColumnSql is ignored and actual column name is used instead.

---
#### Document Details

⚠ *Do not edit

[2018-08-03 21:46] tdykstra commented on #881
I went through the tutorial and only found trivial things to fix.  It works flawlessly with .NET Core 2.1, was already updated for that version.  3 reviews isn't enough to draw reliable conclusions, but @divega might be right that people come here wanting Xamarin or UWP info and consider it unhelpful. Could also be some want an ASP.NET version, as this one doesn't tell you how to deal with ASP.NET

[2018-08-03 21:58] tdykstra commented on #734
@divega This article was fixed by #806 but the title refers to multiple walkthroughs, which is a dup of #748
Should we go ahead and close this one?

[2018-08-03 22:02] tdykstra commented on #708
Fixed by #806

[2018-08-03 22:03] #708 closed

[2018-08-03 23:56] ajcvickers commented on #846
@whizkidwwe1217 Yes.

[2018-08-04 07:32] divega commented on #734
Yes. I agree. Closing in favor of  #748.

[2018-08-04 07:32] #734 closed

[2018-08-04 08:07] divega commented on #881
Thanks @tdykstra. I will close for now. If we get more information we can revisit.

[2018-08-04 08:07] #881 closed

[2018-08-04 15:16] #794 closed

[2018-08-04 15:39] #717 closed

[2018-08-04 15:39] #888 closed

[2018-08-05 15:03] bytefish commented on #755
I am also stuck with same issue. I am trying to utilize the recent Data Seeding additions to Entity Framework Core 2.1: https://docs.microsoft.com/en-us/ef/core/modeling/data-seeding. But I cannot find a way to obtain a ``UserManager`` for creating the initial Users.

Is there a recommended way to seed data for ASP.NET Core Identity?

[2018-08-05 16:45] benm-eras commented on #755
I never actually worked out what the "proper" way to seed the identity tables is sadly. But you can use the normal seeding methods to insert directly into the tables quiet easily. There are a couple of "stamp" columns (whose exact name I can't remember right now) that you can just put `Guid`s in, and the "NORMALISED" columns just need to be all caps versions of username/email.

[2018-08-05 17:02] bytefish commented on #755
Yes, that's basically what I did:

* https://github.com/bytefish/SampleMessagingApp/blob/master/Backend/SampleMessagingApp.Web/Database/DatabaseSeedService.cs

It's working. But honestly, I don't know if it is actually the right place to seed the initial data.

[2018-08-05 17:34] benm-eras commented on #755
I beginning to think there isn't currently a specific way to seed the identity tables, and they are simple enough that doing it the standard way works fine.

I would note that I. Your code you aren't setting the stamp columns. I am pretty sure they are required to have an initial value if you intend on using the user/sign-in managers down the line

[2018-08-05 19:31] ajcvickers opened #894 "Consider updating Migrations timestamp documentation"
As suggested here: https://github.com/aspnet/EntityFrameworkCore/issues/12626#issuecomment-404327023

[2018-08-05 21:55] ajcvickers commented on #891
@VirMaker Can you provide some more information as to what you mean by "actual column name is used instead?" (I ask because, EF will always use the column name--that is, HasComputedColumnSql does not mean that the column does not exist in the database, it means that it is a computed column in the database, and I'm wondering if this is confusing.)

[2018-08-06 12:32] VirMaker commented on #891
@ajcvickers I think I expected this column to affect SELECT and not CREATE. For example I expected the model below
        modelBuilder.Entity<Contact>()
            .Propery(p => p.LastModified)
            .HasComputedColumnSql("GetUtcDate()");
to generate SELECT GetUtcDate() as LastModified FROM ... Instead it executes SELECT LastModified FROM .... I guess this column is designed for generation

[2018-08-06 15:03] Alleno opened #896 "Annotation for IsNotClustered"
I would like to change the clustered index from a Guid Id primary key to an autoincrement, using the fluent api. Is this a recommended practice? I can add an ForSqlServerIsClustered property to my new autoincrement column, but there doesn't appear to be a way to remove the clustered index on the Id primary key using fluent api.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-08-06 18:38] #555 closed

[2018-08-06 18:41] ajcvickers commented on #809
@akamud We would love to see the concise sample.

[2018-08-06 18:43] ajcvickers commented on #814
@caztial Can you be more specific about what exactly you want to do at runtime?

[2018-08-06 18:54] ajcvickers commented on #837
See also https://github.com/aspnet/EntityFramework.Docs/issues/839

[2018-08-06 18:57] ajcvickers commented on #844
@jzabroski Can you provide more details on what you mean by, "how Cascade Delete interacts with lazy loading and proxies?"

[2018-08-06 18:58] #846 closed

[2018-08-06 18:59] #847 closed

[2018-08-06 18:59] #849 closed

[2018-08-06 19:39] ajcvickers commented on #834
Triage: we don't intend to update the documentation to include SQLite for EF6. However, we will, as part of other work, attempt to make some of the walkthroughs easier to follow.

[2018-08-06 19:39] #834 closed

[2018-08-06 19:42] ajcvickers commented on #855
Moved to https://github.com/aspnet/EntityFrameworkCore/issues/12906

[2018-08-06 19:42] #855 closed

[2018-08-06 20:44] #830 closed

[2018-08-06 21:50] DanJ210 commented on #793
I agree to the above posts about getting confused with not using the standard `DbSet<>` that I'm used to but instead using the `DbQuery<>` for this specialized situation. I read that the doc was supposed to get updated with this new information and that was over a month ago? I spent an hour trying to figure things out myself before deciding to come here for assistance only to luckily find that I'm

[2018-08-06 22:06] antonioortizpola commented on #855
Voting to close this issue. I do not see the docs as

First, I am guessing that it should be "too many meaningless lines" or maybe "too many lines with no meaning", but correct me if I am wrong, I am not a native speaker so I could be misunderstanding something.

On the other hand i am not so sure that the problem is the docs, as I see it could be that you need to practice your English more.
I mea

[2018-08-07 08:29] rustybox opened #898 "Show how to test keyless entity type mapped to view"
Adding to DbSet properties is easy, but it's not clear how one should test for DbQuery properties e.g. mapped to a view.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c95e5c7e-882f-76f7-5301-2a5d1ede39d3
* Version Independent ID: 8754aa99-67a7-98ac-a51e-0ba995f96414
* Content: [Testing with InMemory - EF Core](https:/

[2018-08-07 13:56] AlexanderPilhar opened #899 "Examples: Second Post should have ID = 2"
[code]

should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ed1b8a1-fa32-e147-ae0f-76b3620473f9
* Version Independent ID: 10ce2d9f-8284-a509-5fed-669abfb9d8ae
* Content: [Cascade Delete - EF Core](https://docs.microsoft.com/en-us/ef/core/saving/cascade-delete)
* Content Source: [entity-framework/core/sav

[2018-08-07 14:07] yepeekai opened #900 "Optimization of correlated subqueries: More info and config"
1- I think some details about what is supported and what is not instead of "many common scenarios" would be useful or at least a link to issues regarding this.

2- I think it would be great to configure EF core to opt in by default instead of manually opting in and having an opt out to support exceptions to this scenario.  We have a big application and I am not a fan of opting in manually everywhe

[2018-08-07 17:12] ajcvickers commented on #898
@rustybox Can you provide some mode details on what you mean by "test for DbQuery properties" and what is different here when compared to DbSet properties?

[2018-08-07 17:26] rustybox commented on #898
Absolutely,

So I am writing some tests for service layer which queries and maps entities from a DbContext into DTO's.

With DbSet and InMemory database I can easily add records to the context and save changes before I call my system under test or make any assertions.

I have a DbQuery which maps to a sql view, I would like to setup my test such that some stub data is returned for that property wh

[2018-08-07 20:43] VictorioBerra opened #901 "The disconnected entities documentation does not mention that .Update() can handle deletes."
There is a separate section on Handling deletes and TrackGraph that seem to imply you have to use the query pattern to perform deletes using the two loops.

I think this section: https://docs.microsoft.com/en-us/ef/core/saving/disconnected-entities#all-newall-existing-entities
Or this: https://docs.microsoft.com/en-us/ef/core/saving/disconnected-entities#mix-of-new-and-existing-entities

Should me

[2018-08-07 22:13] divega commented on #851
Request submitted as work item [33904](https://ceapex.visualstudio.com/SRE/_workitems/edit/33904).

Source URL | Target URL
-- | --
https://msdn.microsoft.com/library/d56e6f1d-4bd1-4b50-9558-9a30e04a8ec3 | https://docs.microsoft.com/ef/ef6/fundamentals/async
https://msdn.microsoft.com/library/13886d24-2c74-4a00-89eb-aa0dee328d83 | https://docs.microsoft.com/ef/ef6/fundamentals/configuring/code-bas

[2018-08-08 02:18] ctaggart opened #903 "How do you do .ThenInclude from F#?"
After figuring out how to get the proxies to work in F# https://github.com/aspnet/EntityFrameworkCore/issues/12923, I tried to create queries using something like `.Include(fun blog -&gt; blog.Posts).ThenInclude(fun post -&gt; post.Author)`, but post ends up being a collection. It fails in IntelliSense and during compilation. How do I make it work? Is there a workaround?

---
#### Document Details

[2018-08-08 17:12] ajcvickers commented on #903
@ctaggart We can look into this, but two things I can mention off the top of my head:
* Visual Studio IntelliSense doesn't work for this in C#--see https://github.com/dotnet/roslyn/issues/8237 (ReSharper/Ryder IntelliSense works fine for me.)
* You could try using string-based Include. That is, dot-separated navigation properties: `.Include("Posts.Author")`

[2018-08-09 01:12] jzabroski opened #905 "Raw SQL docs suggest bad practice"
https://github.com/aspnet/EntityFramework.Docs/edit/master/entity-framework/core/querying/raw-sql.md

Putting in-line constants into a raw SQL query will boat the SQL Server plan cache.
Not sure about other systems and whether this would effect them as well.

[2018-08-09 01:16] ajcvickers commented on #905
@jzabroski Which inline constants are you referring to?

[2018-08-09 02:29] #659 closed

[2018-08-09 14:36] julielerman opened #906 "List (known) providers that support system.transactions & ambient"
It would be really helpful to provide a list of which providers you know of that can support system.transactions and more importantly transactionscope. It's a pain to have to find out the hard way and it's not obvious anywhere. E.g. I got the ambient not supported exception with Sqlite and the only other evidence I could find was looking in the github repo and seeing that the code throws that erro

[2018-08-09 15:43] ErikEJ commented on #906
The lastet (as in today's) release of the SQL Server Compact providers adds support for TransactionScope

[2018-08-09 19:35] ajcvickers commented on #905
@jzabroski That code and all the code in the post create parameterized queries. The warning at the bottom is about being careful how the compiler works with regard to creating parameterized queries when using string interpolation. https://github.com/aspnet/EntityFrameworkCore/issues/10996 will address this in 3.0

[2018-08-09 19:35] #905 closed

[2018-08-10 07:18] Shogoot commented on #867
Other examples would help a lot. :)
The docuemntation is very good, im a developer but just recently moved over to C# an d.NET and this documentation has made it quite easy to leap over.

[2018-08-10 08:34] janis-veinbergs commented on #793
@DanJ2010 it's actually stated in the doc:

But @ajcvickers actually commented that the documentation will include the codeline too.

[2018-08-10 12:50] Vivelin opened #909 "Register custom ValueConverter for implicit conversion"
The docs mention there is no need to specify a converter explicitly when there is a built-in converter. Is it possible to somehow register custom converters to behave the same way?

For example, I have a custom `UriToStringConverter` class that I would like to use for multiple Uri properties. Currently, I register the converter for every Uri property separately. I don't know if this is something t

[2018-08-10 15:15] julielerman commented on #906
Hmmm I think I was wrong about committable & sqlite. I hadn't coded it correctly and was just getting default transactions. With correct code it's failing too. So not just ambient unsupported but sys.trans I guess. (I don't like to guess though)

[2018-08-10 15:30] ajcvickers commented on #906
@julielerman According to @bricelam, SQLite is a no.
@AndriySvyryd Can you answer for MySQL?
@roji For Postgres?

[2018-08-10 15:50] julielerman commented on #906
thanks

[2018-08-10 16:36] ajcvickers commented on #909
@Vivelin This is being tracked by https://github.com/aspnet/EntityFrameworkCore/issues/10784

[2018-08-10 16:36] #909 closed

[2018-08-10 17:14] roji commented on #906
Npgsql supports System.Transactions, although distributed transaction support definitely has some issues (but that's not relevant for .NET Core anyway)

[2018-08-10 19:27] AndriySvyryd commented on #906
MySQL doesn't support them and currently there are no plans to add the support.

[2018-08-10 19:57] #748 closed

[2018-08-10 19:57] #581 closed

[2018-08-11 15:00] raghukrishnamoorthy opened #911 "Typo Correction"
Under the
"Creating a Model: Code First, the EF Designer, and the EF Workflows" section, the last word should be 'difference' instead of 'different'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59d06865-183f-140e-a1f1-099cd36b93fe
* Version Independent ID: 401fd98e-66bf-acbc-50f8-16af48c90adf
* Content: [Get started

[2018-08-11 15:01] raghukrishnamoorthy commented on #911
Not trying to be a pedantic pain in the ass, just making sure the docs are flawless for the next person is all.

[2018-08-12 00:25] divega commented on #911
:+1: no worries. This is good feedback. It is also super easy to submit a PR when you find a typo like this. Look for the :pencil: icon in the page.

[2018-08-12 17:14] carlosmunozrodriguez opened #913 "ToView() equivalent in Data Annotations missing in docs"
Doc says to use .ToView() while using Fluent API but it never says how to do it with Data Annotations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ace630fc-7310-10b7-39bb-26fcfe3f3950
* Version Independent ID: dbe96b32-0589-0f8c-6558-11a065d84dff
* Content: [Query Types - EF Core](https://docs.microsoft.com/en-us/ef/

[2018-08-13 14:02] andriysavin commented on #736
Just a raw idea of alternative seeding approach, based on record/replay: in the model creation (or any other suitable step) you get an instance of the (InMemory?)DbContext which you can feed to any API like Identity and call that API as you need (e.g. create users, roles etc). The context records changes as usually and then can convert those changes to some actions in migrations, so they can be re

[2018-08-13 16:23] ageisen2000 opened #914 "Document using migrations with transactions"
Does MigrationBuilder.Sql() need to exist inside of a migration operation? Would there be a way to inject sql before and after all of the migration operations when generating scripts?

I want to be able to wrap a transaction around all of my sql migration statements and then commit the transaction if everything worked correctly. Is this possible in EF Core using SQL Server?

---
#### Document Deta

[2018-08-13 16:38] ajcvickers commented on #913
@carlosmunozrodriguez Data annotations support only a subset of EF Core modeling. For this case I believe you need to use the fluent API. However, I added a note to https://github.com/aspnet/EntityFrameworkCore/issues/10111 to consider adding support for attribute mapping in the future.

[2018-08-13 16:38] #913 closed

[2018-08-13 16:55] carlosmunozrodriguez commented on #913
Just to add a note. I have successfully used `[Table("TableName", Schema = "SchemaName")]` to decorate a class that I use with `DbQuery<T>` to map a View

[2018-08-13 18:32] th0mk opened #915 "Error while adding initial migration"
Hi, when creating the initial migration I get this error:

The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Cannot find path '..\aspnetapp\..\aspnetapp\bin\local\Debug\netcoreapp2.1\' because it does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-08-13 19:48] footysteve commented on #846
Hi, step 5 really isn't very clear. When I read it I thought won't that create a circular ref, then read a little further and that is mentioned with a suggested fix.

However, that process always creates a circular ref which in vs community at least, isn't possible - an error dialog informs us of this.

Applying the fix seems to work, at least if you leave the model classes in the original project

[2018-08-13 19:59] Rick-Anderson commented on #915
@th0mk  I haven't seen that error before. Make sure  you have the latest version of Visual Studio and the .Net Core SDK.

Clean your project. Exit/restart VS. If that doesn't work - create a new project and see if you get the same error.

[2018-08-13 22:30] nbenninghoff opened #916 "Missing step?"
Before "Create the database" step you must reference Microsoft.EntityFrameworkCore.Tools nuget package

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adb04585-f54b-70c0-e847-b044b388a4d5
* Version Independent ID: 5e37f568-0621-a082-c75a-d2adf94dce8d
* Content: [Getting Started on .NET Core - New database - EF Core](htt

[2018-08-13 22:32] ajcvickers commented on #916
@nbenninghoff Did you install the .NET Core 2.1 SDK?

[2018-08-14 13:51] DanJ210 commented on #793
@janis-veinbergs Sorry but I was pretty frustrated. I didn't see anything about DbQuery and I've followed docs like that for a long time and scanned over them a few times and still didn't see anything. Not sure why I'm blind or it's so hard to find but in the end I didn't see it.

[2018-08-14 13:52] jurion commented on #915
It doesn't show how to use DP and EF outside "controllers". Horrible experience for now working with EF core

[2018-08-14 17:32] #911 closed

[2018-08-14 19:57] Rick-Anderson commented on #814
[Applying migrations in production](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/migrations?view=aspnetcore-2.1&tabs=visual-studio#applying-migrations-in-production)

[2018-08-14 20:04] Rick-Anderson commented on #372
@divega  I'm  going to make [ASP.NET Core - New Database](https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/new-db) xplat.

See [this tutorial](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.1&tabs=visual-studio) as an xplat sample.

[2018-08-14 20:14] Rick-Anderson commented on #372
@ajcvickers    I'm  going to make [ASP.NET Core - New Database](https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/new-db) xplat.

See [this tutorial](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.1&tabs=visual-studio) as an xplat sample.

[2018-08-16 13:57] tuespetre opened #920 "There are no examples for configuring properties of derived types"
It would be a good idea to have examples showing the configuration of properties of derived types (like the `RssUrl` property having a max length or something.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7106ae9-405f-8857-cd3e-571e966dea10
* Version Independent ID: 62ce23dc-9e20-525a-ea51-0dd76c1b7812
* Content: [

[2018-08-17 13:57] jsancho commented on #807
Not that straightforward to do manually.
We have ended up using the VSTS task from Ben Day, he's also published scripts for win/linux to execute the migrations.
 https://www.benday.com/2018/07/05/deploy-entity-framework-core-2-1-migrations-from-a-dll/

[2018-08-17 17:43] VaclavK opened #921 "AppInsight linkage?"
I cannot find any authoritative information re ef.core integration with app insight... is it working/is it not? how to set up under different contexts (e.g. .net core app+asp.net core app) etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ac57b24-45aa-e679-6ff9-5a25c369c1ff
* Version Independent ID: cc576199-b14c-a1

[2018-08-17 20:40] ajcvickers opened #922 "Document explicitly that DbContext is not thread-safe"

[2018-08-18 01:44] John0King opened #923 "Can we register the value converter use `.HasConversion<EnumToStringConverter>()`"
Do we must pass a instance ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03dfe9f6-e831-ac3f-0b90-acb9b4c0f828
* Version Independent ID: a26156d1-a4b3-7df0-e63e-b8e9f804abbf
* Content: [Value Conversions - EF Core](https://docs.microsoft.com/en-us/ef/core/modeling/value-conversions)
* Content Source: [entity-framewor

[2018-08-18 17:09] ashish2rathi opened #924 "Clarify when to use "existing database" verses "creating the database""
Hi, I am new to this scaffolding, the process you are explained is bit confusing in case of creating new database and using existing database. For Creating the Database I think it will be better to create the database and then use it with the given steps. I am not sure that will help or not but I think for new user like me which are using Entity framework very first time, it will reduce the confus

[2018-08-20 12:32] tvaidyan opened #925 "An Example with EnsureCreated May Help"
A few suggestions:
1) It wasn't apparent to me that if I'm not using migrations, I *need* to call context.Database.EnsureCreated().  I didn't get any errors when compiling and running my code but my seed data was not appearing in the InMemory database.  It's probably helpful to note that you won't see seed data unless this call is made.
2) An example with EnsureCreated may be very helpful for thos

[2018-08-20 15:09] ajcvickers commented on #923
@John0King You must pass an instance, but usually the same instance will work for all places it is needed.

[2018-08-20 15:09] #923 closed

[2018-08-21 14:27] jrichview opened #926 "Azure Function documentation badly needed"
I just developed my first Azure Function. I've been a professional software dev since the 1980s and I really struggled to find the information I needed to make Entity Framework Database First work with an Azure Function. It so happened I put it in a .NET class library because I needed to reuse that code. But making the connection work took me several days of experimenting with google results until

[2018-08-21 14:29] jrichview commented on #926
And that was just to get it working locally. Learning what to do to deploy it was another effort and I'm not sure whether the solution I ended up with would be considered a best practice or not.

[2018-08-21 17:47] EntityAdam opened #927 "IDENTITY_INSERT requires ALTER permissions"
While running down an error, I discovered that a user must own the table or have ALTER permission on the table to execute SET IDENTITY_INSERT. I think this is worth noting in the document.

Error:
`Cannot find the object "dbo.Table" because it does not exist or you do not have permissions.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-08-22 07:42] GeroIwan opened #928 "Faulty code example for storing owned types in separate tables"
The code example for storing owned types in separate tables has to be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02e6748-42e0-000a-4945-42cd05a0b875
* Version Independent ID: e3effbd0-07f2-423d-4032-1722e75adb37
* Content: [Owned Entity Types - EF Core](https://docs.microsoft.com/en-us/ef/core/modeling/own

[2018-08-22 10:23] ZeroNightzz opened #929 "Why would someone name property CarId instead of just Id"
???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0a084df-15c4-ab25-26ca-83c8bdf6f026
* Version Independent ID: f1fba5b2-eb2e-da0a-fce0-d492855c1777
* Content: [Keys (primary) - EF Core](https://docs.microsoft.com/en-us/ef/core/modeling/keys)
* Content Source: [entity-framework/core/modeling/keys.md](https://github.c

[2018-08-22 10:43] #929 closed

[2018-08-22 17:35] e-davidson opened #931 "Actual roadmap."
It's nice to understand how features are getting prioritized.

Can we also have the actual roadmap on this page?
As listed here.
https://github.com/aspnet/Announcements/issues/308

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 043e26f3-9eea-09f9-98a5-d9a40a303b8e
* Version Independent ID: fed1576c-5f5c-9b34-8489-681dd5

[2018-08-22 19:09] RyanTaite opened #932 "Add a constructor for testing example does not mentiond "TContext""
The example given:

[code]

Does not line up with the text following it:

&gt; DbContextOptions&lt;TContext&gt; tells the context all of its settings, such as which database to connect to. This is the same object that is built by running the OnConfiguring method in your context.

Since `TContext` is not mentioned in the example code

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-08-22 22:09] garyapps opened #933 "Documentation unclear, suggestions for improvement"
I agree with the other commenter that this article is not very clear. I'd go so far as to say it is pretty badly written.

1. The code snippet refers to "MyApp.Migrations". What is MyApp? Is that the name of the original web project (with dbcontext), or is it the new class library?

2. And what does "startup assembly" refer to? The web app or the class library?

3. The fix for removing the circula

[2018-08-23 08:19] habib-developer opened #934 "Link to Microsoft.Data.Sqlite docs from EF docs where appropriate"
Actually, I'm using Entity Framework core 1.0 with my WinForms application and using Sqlite3. I've to ask that is there any way to encrypt SQLite DB and use with EF Core 1.0?

[2018-08-23 17:49] #928 closed

[2018-08-23 17:50] ajcvickers commented on #928
@GeroIwan Thanks.

[2018-08-25 11:53] PavelLJ opened #940 ""ObservableListSource<T>._bindingList" can't be used as a method."
Hello! I'm complete newbie in C#, writing my first application to Windows which should be PostgreSQL database application using EF6. So, I went through this example but have an error (like in title). I assume the problem is in a way that _bindingList is initialized, but as I'm newbie I can't understad what exactly is wrong. Clarification would be very appreciated. (VS 2017, EF6 + Npgsql, WinForms

[2018-08-26 00:04] feload opened #941 "Show controller code when getting started with ASP.NET Core"
It would be great if you guys added an example of the controller code. I wanted to see how the controller was creating a context instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 998197fe-077b-acee-c91c-12f074359e9e
* Version Independent ID: 7542e87e-8f99-9b91-6df1-6983776ad1d2
* Content: [Getting Started on ASP

[2018-08-27 00:47] sunsnow-tail opened #942 "Missing default value in documentation"
Missing default value in documentation for CommandTimeout;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65958d3d-fa06-d304-4cb5-637cbe19f51f
* Version Independent ID: bf2469bd-1e87-18ad-6f01-ced4c124afda
* Content: [RelationalDatabaseFacadeExtensions.SetCommandTimeout Method (Microsoft.EntityFrameworkCore)](https://d

[2018-08-27 14:58] Levifox9 commented on #926
What was your work around ?

[2018-08-27 15:27] jrichview commented on #926
For running locally, I'd like to give credit to this video: https://www.youtube.com/watch?v=RMBE7cWDUbM

For deploying live, I used a combination of ideas from StackOverflow: https://www.youtube.com/watch?v=RMBE7cWDUbM

It's important to understand a few things for starters:

1) Developing an Azure function in the portal generates quite a different project than developing an Azure function in Visu

[2018-08-27 17:44] joaosantana opened #946 "Update documentation to add a reference to Microsoft.EntityFrameworkCore.Design in Blogging.Migrations.Startup project"
`Add-Migration InitialCreate` command fails with this error:

&gt; Your startup project 'Blogging.Migrations.Startup' doesn't reference Microsoft.EntityFrameworkCore.Design. This package is required for the Entity Framework Core Tools to work. Ensure your startup project is correct, install the package, and try again.

Doing so resolves the issue. Please update Documentation to reflect this.

---

[2018-08-27 22:57] aaronhudon opened #948 "DbQuery<T> for unit testing"
An example on how to construct a DbQuery&lt;T&gt; for unit testing would be most appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ace630fc-7310-10b7-39bb-26fcfe3f3950
* Version Independent ID: dbe96b32-0589-0f8c-6558-11a065d84dff
* Content: [Query Types - EF Core](https://docs.microsoft.com/en-us/ef/core/mod

[2018-08-29 09:19] drinkbird opened #950 "Navigation properties in DbQuery"
In model-first `DbSet`s the database structure is generated to fit the navigation properties defined on the entity models.

On the other hand, according to documentation, a `DbView` model has to match a view that already exists and is not generated by EF.

What I couldn't find in the documentation is how to create navigation properties in a `DbView` model, along with an example on how to support t

[2018-08-29 16:03] Levifox9 commented on #926
Thanks for you quick reply! The problem i have is, that i run it already locally with EF in a class library. I published the function to azure. But now the function does not use the connection string for my Azure SQL DB for the context. How did you manage that? I read so much, but nothing seems to work.

[2018-08-29 16:58] jrichview commented on #926
Sorry, just realized my paste of the StackOverflow link was bad. Rather than hunt it down again, I'll try to explain briefly.

I modified my Database Context's template (.tt file) to output two constructors. The default one uses the connection string just as it would normally look. The static constructor checks for a setting that only exists in the live environment where I deploy the Azure Functio

[2018-08-29 17:03] jrichview commented on #926
The idea is when you are running within the published function you specify the connection string itself rather than the name of it. You could hard-code it in there if you prefer.

[2018-08-29 17:34] divega opened #951 "Document new member trasnlator plugin"
See https://github.com/aspnet/EntityFrameworkCore/pull/13115/files/98f01794c8f0e23618edba8a3a0bc8316ca66a1a#r213753280

[2018-08-29 22:58] ajcvickers commented on #942
Note for triage: since the default command timeout is determined by the ADO.NET provider we can't explicitly document it here, but we could add text that states it is determined by the ADO.NET provider.

[2018-08-30 03:02] sunsnow-tail commented on #942
Hi Arthur,
That would good. Plus, please add a link to providers documentations.

[2018-08-30 10:07] John0King opened #953 "How to map a view of "BlogAndPost" eg. LEFT JOIN"
If there is a View of "Blog Left join Post" How do I map it ?
In my case , the Blog is a Table in another Database

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ace630fc-7310-10b7-39bb-26fcfe3f3950
* Version Independent ID: dbe96b32-0589-0f8c-6558-11a065d84dff
* Content: [Query Types - EF Core](https://docs.microsoft.

[2018-08-30 20:33] mloffer commented on #933
Seconded.

**Number 3** says _Move the migrations and model snapshot files to the class library._
Do I just move the files, or do I also need to change the namespace?

**Number 4** says _Configure the migrations assembly_.
But the code listed after it looks like code I would expect to see in the original DbContext assembly. Where does this go in the Migration assembly?

[2018-08-31 08:02] jtheisen opened #954 "I made Reconciler, an alternative GraphDiff-successor"
Hi folks,

right now the there's two alternatives to the `GraphDiff` library of EF6: `Detached.EntityFramework`, which is listed here, and a commercial library that's not listed here.

I've made another one that is very close in spirit to the original `GraphDiff` library that comes in both an EF6 and an EF Core version. I think it would be a useful contribution to this list.

[Reconciler](https://

[2018-08-31 19:07] ajcvickers opened #955 "Document EnableRichDataErrorHandling"
And that the default is not to have rich errors in 2.2.

[2018-09-03 01:27] lm28 opened #957 "Add more examples/samples"
Virtually across the entire https://docs.microsoft.com site....there are very few examples showing how to use a feature and its syntax. (EG https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/powershell has no examples.)
Surely this should be a 'Standard Operating Procedure'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-09-03 16:47] ivanbarrios commented on #941
[code]

[2018-09-03 18:12] mdressel commented on #920
There are some issues with consistency in this documentation. The initial Screenshot from SSMS shows a column of Discriminator with values of "Blog" and "RssBlog". The next chunk of code seems to name the column blog_type with values of "blog_base" and "blog_rss".

[2018-09-04 03:03] lavinio opened #958 ""csharp" misspelled as "chsarp""
In the paragraph starting "- To delete the relationship", two examples, instead of being in the same code format of the others and labeled "C#", start with "chsarp" or "csharp". Probably also that paragraph should be a bulleted item.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1156c548-5ab9-eb9f-f5cd-61a2a6312911
*

[2018-09-04 14:25] alecjames opened #959 "Assumes the reader knows the subject"
Documentation like Add-Migration = Adds a new migration does not help new users.  "Migration" is not defined and there is no link to additional information.  The term "scaffold" is not defined.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22803277-a2a7-0adf-acfc-35ed8e4238c8
* Version Independent ID: 19869482-5737-ad

[2018-09-05 10:41] ecoffman opened #960 "What about Ports?"
How does one specify a different port? Is that a matter of specifying the server and then ',&lt;port&gt;'? Like so:

"Server=(localdb)\\mssqllocaldb,1633;Database=EFGetStarted.ConsoleApp.NewDb;Trusted_Connection=True;"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de9db02d-7310-1141-6aeb-539c02326a36
* Version Indepen

[2018-09-05 10:45] ecoffman opened #961 "How to add port?"
How does one specify port numbers in connection strings? Using your example is it done by simply adding ",<port number>"? Like so:

    {
      "ConnectionStrings": {
        "BloggingDatabase": "Server=(localdb)\\mssqllocaldb,1633;Database=EFGetStarted.ConsoleApp.NewDb;Trusted_Connection=True;"
      },
    }

If not, please explain.

[2018-09-05 21:27] divega commented on #960
@ecoffman this topic is not trying to cover every possible option of specific database providers, just the patterns that you can use to provide the connection string when working with EF Core.

But to answer your question, LocalDB uses named pipes, and the (localdb)\name syntax is a shortcut. If you want to use a port, I assume you want to use the TCP transport, in which case you can use tcp:serve

[2018-09-05 21:27] #960 closed

[2018-09-05 21:38] #931 closed

[2018-09-05 21:46] ajcvickers commented on #899
@divega We should leave this open to look at the sample code.

[2018-09-05 23:07] #958 closed

[2018-09-05 23:50] divega commented on #958
Thank you @lavinio. Good catch! The formatting of the page was also wrong. I fixed several issues.

In case you are interested, submitting a fix for something like this is almost as easy as reporting it. To get started, click on the <kbd>✏️ Edit</kbd> button on the document.

[2018-09-06 11:36] Elvin1492 commented on #737
@eSPiYa , I get same issue. Could you find any solution?

[2018-09-06 15:48] #372 closed

[2018-09-06 19:19] ageisen2000 commented on #737
I'm also getting this issue. Was there a solution?

I'm using this command:

dotnet ef migrations script --verbose -i --project "C:\path\to\proj\proj.csproj"

[2018-09-07 15:17] wooderz opened #967 "Allow dependency injection in Seed class"
I am receiving a "No parameterless constructor" message. Would be good to be able to dependency inject when seeding.

[2018-09-07 15:33] blogcraft opened #968 "use Scaffold-DbContext tu update existing context with new table without force"
In my projects we have a legacy Database which is huge, and it is not reasonable to scaffold the entire database.
While the .Net Core project keeps growing, we need sometimes to add a couple of tables of the legacy database without having to change the model or even the context we already have (and have fine tuned). So having to Force the Scaffold-DbContext is a great problem. There should be an o

[2018-09-07 15:40] ajcvickers commented on #968
@blogcraft This feature is being tracked here: https://github.com/aspnet/EntityFrameworkCore/issues/831

[2018-09-07 15:40] #968 closed

[2018-09-07 17:12] tdykstra commented on #879
@divega I believe the substantial changes made to the organization of this doc for #965 will also address this issue, meaning we could close this one.  If after a few months its numbers don't improve we could reopen it.

[2018-09-07 17:59] Rick-Anderson commented on #957
@lm28  thanks for you comment. This is a reference style page and therefore doesn't have many samples. If you search on "Package Manager Console" you can find many docs with samples in this repo and in the ASP.NET repo. Is there a particular sample you're looking for?

[2018-09-07 20:33] #799 closed

[2018-09-07 22:05] xXTufXx commented on #940
Hello! I have the same problem, have you figured out how to fix it?

[2018-09-08 14:57] Mart-Bogdan commented on #665
@divega can you briefly describe here should user close connections obtained by GetDbConnection, or it would be auto-closed with Context?

[2018-09-08 15:00] Mart-Bogdan opened #969 "Explain how keyless types can be used to execute raw SQL query for "non-entities""
In EF6 there were method to call raw sql for non entity https://docs.microsoft.com/en-us/ef/ef6/querying/raw-sql#writing-sql-queries-for-non-entity-types

It's seems impossible in EF Core, and RelationalDatabaseFacadeExtensions.ExecuteSqlCommand  (eg context.Database.ExecuteSqlCommand  ) don't allow selects, only non-query statements.

Should I create new DbSet for non entity dynamically? or other

[2018-09-08 15:04] Mart-Bogdan commented on #969
It this `Context.Query<KnowlageNodeRecurcive>().FromSql(" XXXX ").ToListAsync();` valid way of doing this?

[2018-09-09 11:27] vincedan opened #970 "Please provide sample for saving disconnected entities with relationship changes"
I met issues when I wanna save disconnected entities which has relationship changes(navigation property changes), I don't know whether it is bug or not ... could you team provide a sample for demonstrating the correct way for saving disconnected entities with relationship changes.

Thanks a lot.

[2018-09-09 11:36] vincedan commented on #970
@ajcvickers

[2018-09-09 14:46] thqnhat commented on #737
@Elvin1492 , @ageisen2000: I think that we had a problem with EF Core Tools v2.1 rtm. I found a work around: you open a new command line and cd to directory that you would like to run the migrations.

cd "D:\{path_to_your_projet}"
dotnet ef migrations add initial

That should be working.

[2018-09-10 15:06] michael-lang opened #971 "Running in a class library project"
If you are reverse engineering a project into a class library, install these packages before running the Scaffold-DbContext command:

PM&gt; Install-Package Microsoft.EntityFrameworkCore.Tools

PM&gt; Install-Package Microsoft.EntityFrameworkCore.SqlServer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 998197fe-077b-ac

[2018-09-10 15:14] navgg commented on #940
I suppose should be _bindingList ?? (_bindingList = this.ToBindingList());

[2018-09-10 15:19] xXTufXx commented on #940
I have solve it and the problem is really stupid, someone forgot the equals sign:
 IList IListSource.GetList()
            {
                return _bindingList = (_bindingList = this.ToBindingList());
            }

[2018-09-10 15:41] #940 closed

[2018-09-10 15:41] ajcvickers commented on #940
As @navgg says, the null coalescing operator was missing.

[2018-09-10 15:53] ajcvickers commented on #665
@Mart-Bogdan For DbConnections in general with EF Core:
* You should dispose it if and only if you created it
* If you explicitly open the connection, then you should explicitly pair that open with a close.

GetDbConnection gives access to the underlying DbConnection that EF is using, so you shouldn't dispose it unless you originally created the connection and passed it to EF in the first place. W

[2018-09-11 13:47] Liero opened #973 "statement cannot be used inside a user transaction when using MigrationBuilder.Sql"
I've tried:

[code]
but I'm getting

when running `dotnet ef database update`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13eb107-79c2-7824-12c1-e637d2a92add
* Version Independent ID: aafc9673-c635-3cf2-6235-8577ff15d19c
* Content: [Custom Migrations Operations - EF Core](https://docs.microsoft.com/en-us/ef/core/ma

[2018-09-11 15:33] #899 closed

[2018-09-11 16:30] a0558070185 opened #974 "Technical Support Consultant"
This issue tracker is for ***documentation***

For ***product*** issues, use https://github.com/aspnet/EntityFramework/issues

[2018-09-11 16:33] #974 closed

[2018-09-11 20:28] bricelam commented on #973
Change it to this:
[code]

[2018-09-12 20:34] pholly commented on #877
Examples will be very helpful. For example, `dotnet ef migrations script` - what is the From and To, the id or the name? What if you leave one argument out?

[2018-09-13 05:01] mairaw opened #981 "Broken anchor link"
The text says "See the Breaking Changes section below for more details." but there isn't such a section in this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 921bc335-e001-201a-6835-a386cbd73c46
* Version Independent ID: b03c14ba-c941-2a54-be95-5f4c89400787
* Content: [Upgrading from previous versions to EF Core

[2018-09-13 15:48] Mart-Bogdan commented on #969
@ajcvickers @Paul-Dempsey   it's seems improper way.

I'm getting "Cannot create a DbSet for 'KnowlageNodeRecurcive' because this type is not included in the model for the context."

If data type not registered in context, as table.

Perhaps there are no way to use this, and we should be stuck with raw ADO SqlCommand. :-(

[2018-09-13 16:04] ajcvickers commented on #969
@Mart-Bogdan See https://github.com/aspnet/EntityFrameworkCore/issues/1862 and https://github.com/aspnet/EntityFrameworkCore/issues/10753

[2018-09-13 17:01] Mart-Bogdan commented on #969
@ajcvickers thank you so much!!! It helped.

I've added `builder.Query<..>`  into **OnModelCreating**.

For other who would be interested and would be reading this thread.

P.S. should this issue be opened? It's related to updating documentation.

[2018-09-14 02:09] geoffRGWilliams opened #984 "Suggest change to clarify access modifier required when using Lazy Loading Proxies"
When combining entity type constructors with lazy-loading proxies (enabled via a call to `UseLazyLoadingProxies(true)`), model constructors must be at a minimum `protected`, or exceptions will be thrown.

Suggest changing this line:

to:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecc7aedf-6301-7ec7-4f65-81749b1f54c

[2018-09-14 07:01] #973 closed

[2018-09-15 06:07] sadqiang commented on #776
In Asp.net Core 2.1, CreateWebHostBuilder replaces BuildWebHost.

[2018-09-16 01:29] haitham-shaddad opened #986 "name and password are referenced in Generate method but not defined"
This issue tracker is for ***documentation***

For ***product*** issues, use https://github.com/aspnet/EntityFramework/issues

The method Geneate assumes there is a two variables username and password but they are not defined. Instead, it should use operation.Name and operation.Password

[code]

Also, `Dependencies.TypeMapper.GetMapping()` is deprecated

[2018-09-17 13:13] aldrashan opened #988 "Typo"
"Even when using LINQ, if you are accepting user input to build expressions you need to make sure &lt;&lt;&lt;than&gt;&gt;&gt; only intended expressions can be constructed."
Needs to become:
"Even when using LINQ, if you are accepting user input to build expressions you need to make sure &lt;&lt;&lt;that&gt;&gt;&gt; only intended expressions can be constructed.".

---
#### Document Details

⚠ *Do

[2018-09-18 17:46] #986 closed

[2018-09-18 19:00] #981 closed

[2018-09-18 21:04] KSib commented on #793
This should be added explicitly in the doc. Thanks for putting in here though.

[2018-09-20 00:46] ajcvickers commented on #691
See also https://github.com/aspnet/EntityFrameworkCore/issues/13339

[2018-09-20 08:24] duszekmestre opened #990 "Update Compare EF Core & EF6"
2.1 has GroupBy implemented in most cases. So it should be marked as partial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fc2d1a4-a434-69f9-3df3-9818c571c978
* Version Independent ID: a272636c-100d-fb7b-d7a9-713adc0b2b8e
* Content: [EF Core & EF6 Feature by Feature Comparison](https://docs.microsoft.com/en-us/ef/efc

[2018-09-20 13:41] RobJohnston opened #991 "Error in DatabaseGenerated example"
The attribute `DatabaseGenerated(DatabaseGenerationOption.Computed)]` should be `DatabaseGeneratedOption` instead of `DatabaseGenerationOption`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c7bd305-ac97-ca3c-f8c0-031d8d9c7599
* Version Independent ID: 2d0b358a-5cfd-60e4-251f-c4e824bba348
* Content: [Code First Data

[2018-09-20 14:32] Alleno commented on #828
Would it be possible to specify cascade delete on a per-transaction basis instead of at the database definition level?